<mat-tab-group [backgroundColor]="'accent'"
               [selectedIndex]="tabSelected.value"
               (selectedIndexChange)="tabSelected.setValue($event)"
               (selectedTabChange)="changeSelectedTab($event)"
               class="border"
>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class=" mr-16">format_list_numbered</mat-icon>
            Proceso Electoral
        </ng-template>
        <app-proceso-electoral
                (procesoSelected)="irLista($event)"
                (irImportacion)="irImportacion($event)"

        >
        </app-proceso-electoral>
    </mat-tab>

    <mat-tab [disabled]="tabListaDesabilitado">
        <ng-template mat-tab-label>
            <mat-icon class=" mr-16">picture_in_picture</mat-icon>
            Listas
        </ng-template>

        <app-tab-de-lista
                [procesoSelected]="procesoSelected"
                (listaSelected)="irTabCandidatos($event)"
                #listaComponent
        ></app-tab-de-lista>
    </mat-tab>

    <mat-tab [disabled]="tabCandidatosDesabilitado">
        <ng-template mat-tab-label>
            <mat-icon class=" mr-16">people</mat-icon>
            Candidatos
        </ng-template>

        <app-tab-candidatos
                [listaSelected]="listaSelected"
                [procesoSelected]="procesoSelected"
                #candidatoComponent
        >
        </app-tab-candidatos>
    </mat-tab>
<!--    *ngIf="visualizarTabPadron"-->
    <mat-tab
            [disabled]="tabImportarPadronDesabilitado"
    >
        <ng-template mat-tab-label>
            <mat-icon class=" mr-16">article</mat-icon>
            Importación Padrón
        </ng-template>

        <app-tab-importacion-padron
                [procesoSelected]="procesoSelected"
                #tabPadron
        >
        </app-tab-importacion-padron>
    </mat-tab>
</mat-tab-group>
