<div class="page-wrap height-100 image">
    <div class="session-form-hold">
        <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
        <mat-card class="epn-logout">
            <mat-card-content>
                <div class="text-center pt-8 pb-16">
                    <img width="60px" src="assets/images/epn-oscuro.png" alt="" style="width: 50%; margin: 0 auto">
                    <p class="text-muted-white m-0">Cambio de Contraseña</p>
                </div>
                <form [formGroup]="recuperarForm" (ngSubmit)="submitCambio()">
                    <div>
                        <label class="label-white">Nueva Contraseña</label>
                        <mat-form-field appearance="outline" class="full-width">
                            <input
                                type="password"
                                matInput
                                [formControl]="recuperarForm.controls['password']"
                            />
                        </mat-form-field>
                        <small
                                *ngIf="
                recuperarForm.controls['password'].hasError('required') &&
                recuperarForm.controls['password'].touched
              "
                                class="form-error-msg text-11"
                        >
                            Contraseña es requerida
                        </small>
                        <small
                                *ngIf="
                recuperarForm.controls['password'].hasError('minlength') &&
                recuperarForm.controls['password'].touched
              "
                                class="form-error-msg text-11"
                        >Contraseña debe tener mínimo 8 carácteres.</small
                        >
                        <small
                                *ngIf="
                recuperarForm.controls['password'].hasError('invalidPassword') &&
                recuperarForm.controls['password'].touched
              "
                                class="form-error-msg text-11"
                        >Contraseñas no coinciden.</small
                        >
                        <small
                                *ngIf="
                recuperarForm.controls['password'].hasError('safePassword') &&
                recuperarForm.controls['password'].touched
              "
                                class="form-error-msg text-11 "
                        >La contraseña debe tener Mayusculas, Minusculas, números y caracteres Especiales</small
                        >
                        <label class="label-white">Confirmar Nueva Contraseña</label>
                        <mat-form-field appearance="outline" class="full-width">
                            <input
                                    type="password"
                                    matInput
                                    [formControl]="recuperarForm.controls['confirmPassword']"
                            />
                        </mat-form-field>
                        <small
                                *ngIf="
                recuperarForm.controls['confirmPassword'].hasError(
                  'required'
                ) && recuperarForm.controls['confirmPassword'].touched
              "
                                class="form-error-msg text-11"
                        >Se requiere confirmar la contraseña.</small
                        >
                        <small
                                *ngIf="
                recuperarForm.controls['confirmPassword'].hasError('invalidPassword') &&
                recuperarForm.controls['confirmPassword'].touched
              "
                                class="form-error-msg text-11"
                        >Contraseñas no coinciden.</small
                        >
                        <br />
                    </div>
                    <button
                            mat-raised-button
                            style="color: white"
                            class="full-width mt-1  green-A700 "
                            *ngIf="recuperarForm.valid && verified"
                    >
                        Enviar
                    </button>
                    <div class="text-center  mt-1  ">
                        <button
                                mat-raised-button
                                color="warn"
                                class="mat-warn text-center full-width"
                                id="forgot-password"
                                *ngIf="recuperarForm.valid && verified"
                                [routerLink]="'/sessions/signin'">
                            Cancelar
                        </button>
                        <span fxFlex></span>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>


