<h1 matDialogTitle class="mb-4">{{data.title}}</h1>
<form (ngSubmit)="this.dialogRef.close(itemForm.value)">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">


        <div fxFlex="100" class=" mt-1">
            <label class="label-1 "  >Nombre de la lista</label>
            <mat-form-field appearance="outline"  class="full-width">
<!--                <input-->
<!--                        autocomplete="off"-->
<!--                        matInput-->
<!--                        type="text"-->
<!--                        style="text-transform: uppercase"-->
<!--                        (change)="itemForm.patchValue({nombreLista: $event?.target?.value.toUpperCase()})"-->
<!--                        [formControl]="itemForm.controls['nombreLista']"-->
<!--                />-->

                <textarea
                        autocomplete="off"
                        style="text-transform: uppercase"
                        (change)="itemForm.patchValue({nombreLista: $event?.target?.value.toUpperCase()})"
                        cdkTextareaAutosize
                        matInput
                        oninput="this.value = this.value.toUpperCase()"
                        cdkAutosizeMinRows="1"
                        [formControl]="itemForm.controls['nombreLista']"
                        maxlength="200"
                >
                                    </textarea>
            </mat-form-field>
        </div>

<!--        <div fxFlex="100" class=" mt-1">-->
<!--            <label class="label-1 ">Eslogan</label>-->
<!--            <mat-form-field appearance="outline" class="full-width">-->
<!--                &lt;!&ndash;                <mat-label>Leave a comment</mat-label>&ndash;&gt;-->
<!--                <textarea-->
<!--                        cdkTextareaAutosize-->
<!--                        matInput-->
<!--                        oninput="this.value = this.value.toUpperCase()"-->
<!--                        placeholder="Eslogan de la lista"-->
<!--                        cdkAutosizeMinRows="4"-->
<!--                        cdkAutosizeMaxRows="4"-->
<!--                        [formControl]="itemForm.controls['eslogan']"-->
<!--                >-->

<!--                </textarea>-->
<!--            </mat-form-field>-->
<!--        </div>-->

        <div fxFlex="100" class="mr-1 mt-1">
            <input type="file" hidden
                   id="file-input"
                   #file
                   (change)="onSelectFile($event)"
                   accept="image/jpeg,image/png"
            >
            <button
                    mat-raised-button
                    type="button"
                    (click)="file.click()"
                    color="primary"
                    style="margin-bottom: 10px;
                padding-left: 1px;"
            >
                <mat-icon>photo</mat-icon>
                Imagen
            </button>
            <span> Selecciona el logo de la lista....</span>
        </div>

        <div
                class="full-width border"
                fxLayoutAlign="center"
                *ngIf="!itemForm.controls['logoLista'].value?.base64"
        >
            <img
                    class="mr-1"
                    [src]="itemForm.controls['logoLista'].value"
                    style="width: 40%; min-height: 90px; margin-top: 5px;"
            >
        </div>

        <div
                *ngIf="itemForm.controls['logoLista'].value?.base64"
                class="full-width border"
                fxLayoutAlign="center"
        >
            <img
                    class="mr-1"
                    [src]="itemForm.controls['logoLista'].value?.base64"
                    style="width: 40%;
             margin-top: 5px;"
            >
        </div>

        <div fxFlex="100" class="mt-1">
            <button
                    type="submit"
                    mat-raised-button
                    color="primary"
                    [disabled]="itemForm.invalid"
            >
                <mat-icon>save</mat-icon>
                Guardar
            </button>
            <span fxFlex></span>
            <button
                    (click)="dialogRef.close(null)"
                    type="button"
                    mat-button
                    color="warn"
            >
                <mat-icon>clear</mat-icon>
                Cancelar
            </button>
        </div>
    </div>


</form>

