<mat-card>
    <mat-card-header style="background-color: #2A314B; color: white">
        <div fxLayout="row"
             fxLayoutAlign="start center"
        >
            <h3> Información Personal</h3>
        </div>
    </mat-card-header>
    <mat-card-content style="padding: 0px">
        <form [formGroup]="itemForm" style="padding: 48px">
            <div fxLayout="row wrap">

                <div fxFlex="100" fxFlex.gt-xs="40" class="pr-1">

                    <div  class="full-width">

                        <p> Puedes actualizar tu foto de perfil</p>

                        <input type="file" hidden
                               id="file-input"
                               #file
                               accept="image/jpeg,image/png"
                               (change)="onSelectFile($event)"
                        >
                        <button
                                mat-raised-button
                                type="button"
                                (click)="file.click()"
                                color="primary"
                                style="margin-bottom: 10px;
                padding-left: 1px;"
                        >
                            <mat-icon>photo</mat-icon>
                            Subir Imagen
                        </button>

                    </div>

                    <!--        Si el objeto  no tiene imagen de -->
                    <div
                            class="full-width border"
                            fxLayoutAlign="center"
                            *ngIf="!itemForm.controls['imagenUsuario'].value?.base64"
                    >
                        <img
                                class="mr-1"
                                [src]="this.usuario?.fotoUrl"
                                alt="Sin imagen"
                                style="width: 50%;  min-height: 200px; margin-top: 10px;"
                        >
                    </div>
                    <!--        Si el usuario carga una imagen desde la pc-->
                    <div
                            *ngIf="itemForm.controls['imagenUsuario'].value?.base64"
                            class="full-width border"
                            fxLayoutAlign="center"

                    >
                        <img
                                class="mr-1"
                                [src]="itemForm.controls['imagenUsuario'].value?.base64"
                                style="width: 50%;
             margin-top: 5px;"
                        >
                    </div>

                    <div class="pt-1">
                        <button
                                color="primary"
                                type="button"
                                mat-raised-button
                                [disabled]="this.itemForm.controls['imagenUsuario'].value == ''"
                                (click)="actualizarUsuario()"
                        >
                            <mat-icon>save</mat-icon>
                            Actualizar Imagen
                        </button>

                    </div>
                </div>


                <div fxFlex="100" fxFlex.gt-xs="60" class="pl-1" >

                    <div >
                        <label >Nombres</label>
                        <mat-form-field class="full-width letra-info-user">
                            <input
                                    matInput
                                    name="username"
                                    value=""
                                    [defaultValue]="usuario?.objetoPersona?.nombreUno+' '+(usuario?.objetoPersona?.nombreDos != null? usuario?.objetoPersona?.nombreDos : '' )"
                                    disabled
                            >
                        </mat-form-field>
                    </div>

                    <div >
                        <label class="label-1">Apellidos</label>
                        <mat-form-field class="full-width letra-info-user">
                            <input
                                    matInput
                                    name="username"
                                    [defaultValue]="usuario?.objetoPersona?.apellidoUno+' '+(usuario?.objetoPersona?.apellidoDos != null ? usuario?.objetoPersona?.apellidoDos :'')"
                                    disabled
                                    value=""
                            >
                        </mat-form-field>
                    </div>

                    <div >
                        <label class="label-1">Identificación</label>
                        <mat-form-field class="full-width letra-info-user">
                            <mat-icon matPrefix>featured_play_list</mat-icon>
                            <input
                                    matInput
                                    name="username"
                                    [defaultValue]="usuario?.objetoPersona?.identificacion"
                                    disabled
                                    value="">
                        </mat-form-field>
                    </div>

                    <div >
                        <label class="label-1">Telefono 1</label>
                        <mat-form-field class="full-width letra-info-user">
                            <mat-icon matPrefix>local_phone</mat-icon>
                            <input
                                    matInput
                                    name="username"
                                    [defaultValue]="usuario?.objetoPersona?.telefonoUno"
                                    disabled
                                    value="">
                        </mat-form-field>
                    </div>

                    <div >
                        <label class="label-1">Telefono 2</label>
                        <mat-form-field class="full-width letra-info-user">
                            <mat-icon matPrefix>local_phone</mat-icon>
                            <input

                                    matInput
                                    name="username"
                                    [defaultValue]="(usuario?.objetoPersona?.telefonoDos != null ? usuario?.objetoPersona?.telefonoDos: '')"
                                    disabled
                                    value="">
                        </mat-form-field>
                    </div>

                    <div >
                        <label class="label-1">Email</label>
                        <mat-form-field class="full-width letra-info-user" >
                            <mat-icon matPrefix>email</mat-icon>
                            <input
                                    matInput
                                    name="username"
                                    [defaultValue]="usuario?.objetoPersona?.email"
                                    disabled
                                    value="">
                        </mat-form-field>
                    </div>

                </div>


            </div>


        </form>

    </mat-card-content>
</mat-card>


