<mat-card class="user-card p-0">
    <mat-card-title *ngIf="procesoSelected?.aplicaAlterno && !esAlterno">
        <div class="card-title-text">Principal:</div>
    </mat-card-title>
    <mat-card-title *ngIf="procesoSelected?.aplicaAlterno && esAlterno">
        <div class="card-title-text">Alterno:</div>
    </mat-card-title>
    <mat-card-title *ngIf="!esAlterno">
        <div class="card-title-text">
            <img class="toolbar-avatar md mr-1"
                 src="{{candidato?.fotoUrl}}"
                 alt=""
                 style="border-radius: 50%"
            >
            <span>{{candidato?.nombreCandidato}}</span>
            <span fxFlex></span>
            <button
                    mat-icon-button
                    mat-sm-button
                    color="warn"
                    (click)="deleteItem.emit(candidato)"
                    [disabled]="procesoSelected?.editable == false"
                    matTooltip="Eliminar candidato"
            >
                <mat-icon>delete</mat-icon>
            </button>
            <button
                    mat-icon-button
                    mat-sm-button
                    color="primary"
                    (click)="verAlterno()"
                    *ngIf="procesoSelected?.aplicaAlterno"
                    matTooltip="Ver candidato Alterno"
            >
                <mat-icon>remove_red_eyes</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-title *ngIf="esAlterno">
        <div class="card-title-text">
            <img class="toolbar-avatar md mr-1"
                 src="{{candidato?.fotoUrlAlterno}}"
                 alt=""
                 style="border-radius: 50%"
            >
            <span>{{candidato?.nombreCandidatoAlterno}}</span>
            <span fxFlex></span>
            <button
                    mat-icon-button
                    mat-sm-button
                    color="primary"
                    (click)="verPrincipal()"
                    matTooltip="Ver candidato Principal"
            >
                <mat-icon>remove_red_eyes</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content *ngIf="!esAlterno">
        <!-- user detail lines-->
        <div class="user-details">
            <p>
                <mat-icon class="text-muted">person_pin</mat-icon>
                {{candidato?.nombreEscanio}}</p>
            <p>
                <mat-icon class="text-muted">payment</mat-icon>
                {{candidato?.identificacion}}</p>
            <p>
                <mat-icon class="text-muted">phone</mat-icon>
                {{candidato?.objetoPersona?.telefonoUno}}</p>
            <p>
                <mat-icon class="text-muted">email</mat-icon>
                {{candidato?.objetoPersona?.email}}</p>
        </div>
    </mat-card-content>
    <mat-card-content *ngIf="esAlterno">
        <div class="user-details">
            <p>
                <mat-icon class="text-muted">payment</mat-icon>
                {{candidato?.objetoPersonaAlterno?.identificacion}}</p>
            <p>
                <mat-icon class="text-muted">phone</mat-icon>
                {{candidato?.objetoPersonaAlterno?.telefonoUno}}</p>
            <p>
                <mat-icon class="text-muted">email</mat-icon>
                {{candidato?.objetoPersonaAlterno?.email}}</p>
        </div>
    </mat-card-content>
</mat-card>

