<div fxLayout="row wrap">
    <div
            fxFlex="100"

    >
        <mat-card class="border grey-100">
            <div
                    fxLayout="row wrap"
                    fxLayout.lt-sm="column"
            >

                <div fxFlex="25">
                    <h1 class="text-muted">{{procesoSelected?.nombreProcesoElectoral}}</h1>
                    <!--                <span fxFlex></span>-->
                    <mat-chip
                            class="icon-chip"
                            style="background:{{procesoSelected?.color}};width: 70px"
                            selected="true"
                    >
                        {{procesoSelected?.estadoProceso}}
                    </mat-chip>
                </div>

                <div fxFlex="25">
                    <small class="text-muted mt-12">Fecha de inicio:</small>
                    <h3 class="m-0 font-normal ">{{procesoSelected?.fechaInicio | date: "dd/MMM/yy hh:mm a"}}</h3>
                </div>
                <div fxFlex="25">
                    <small class="text-muted mt-12">Fecha de cierre:</small>
                    <h3 class="m-0 font-normal ">{{procesoSelected?.fechaFin | date: "dd/MMM/yy hh:mm a"}}</h3>

                </div>
                <div fxFlex="25">
                    <small class="text-muted  mt-12">Tipo de elección:</small>
                    <h3 class="m-0 font-normal">{{procesoSelected?.nombreEleccion}}</h3>

                </div>


            </div>
        </mat-card>
    </div>


    <div fxFlex="100"
    >
        <mat-card class="p-0">
            <mat-card-header class="grey-100" style="height: 50px">
                <div fxLayout="row"
                     fxLayoutAlign="start center"
                >
                    Listas postulantes
                </div>
            </mat-card-header>
            <mat-card-content style="padding: 20px">
                <button
                        *ngIf="procesoSelected?.editable == true"
                        (click)="openPoup({procesoElectoralId: procesoSelected.id},true)"
                        class="green-A700 mr-8"
                        type="button"
                        mat-raised-button
                        style="color: white"
                >
                    <mat-icon>note_add</mat-icon>
                    Nuevo
                </button>


                <ngx-datatable
                        class="material"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        rowHeight="auto"
                        [limit]="10"
                        [rows]="listas"
                        [scrollbarH]="true"
                >
                    <ngx-datatable-column name="Logo" [flexGrow]="1">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <div *ngIf="row.logoUrl != ''">
                                <!--                                <a href="" class="toolbar-avatar md mr-1"><img [src]="" alt=""></a>-->
                                <img class="border redondear-esquinas" height="100px" width="100px"
                                     src="{{row.logoUrl}}">
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Nombre Lista" [flexGrow]="1">

                        <ng-template ngx-datatable-cell-template let-row="row">
                            {{ row.nombreLista }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Estado" [flexGrow]="1">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <mat-chip mat-sm-chip [color]="'primary'"
                                      [selected]="row.bagde">{{row.estado == "ACTIVO" ? 'ACTIVO' : 'INACTIVO'}}</mat-chip>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Acciones" [flexGrow]="1">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <button
                                    [disabled]="procesoSelected.editable == false"
                                    mat-icon-button
                                    mat-sm-button
                                    color="primary"
                                    class="mr-1"
                                    (click)="openPoup(row,false)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button
                                    [disabled]="procesoSelected.editable == false"
                                    mat-icon-button
                                    mat-sm-button
                                    color="warn"
                                    (click)="deleteItem(row)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Configurar Candidatos" [flexGrow]="10">
                        <ng-template
                            let-row="row"
                            ngx-datatable-cell-template>
                            <button
                                    mat-icon-button
                                    mat-sm-button
                                    (click)="irTabCandidatos(row)"
                            >
                                <mat-icon>settings</mat-icon>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>


            </mat-card-content>
        </mat-card>


    </div>
</div>
