@import "./variables.less";
// mat-icon-stepper selected color change
:host ::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: @color-18 !important;
}

//input outline color
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: @color-17 !important;
}


// mat-input error outline color
//:host ::ng-deep
//.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
//.mat-form-field-outline-thick {
//  color: @color-2 !important;
//  box-shadow: @boxShadow-1;
//  border-radius: @borderRadius-0;
//}

//// mat-input carent color
//:host ::ng-deep .mat-input-element {
//  caret-color: @caretColor-0 !important;
//}

// mat-input error carent color
:host ::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  caret-color: @caretColor-1 !important;
}

// mat-label normal state style
:host ::ng-deep .mat-form-field-label {
  color: @color-4 !important;
}

// mat-label focused style
:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: @color-5 !important;
}

// mat-label error style
:host ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: @color-5 !important;
}

/*Esto es para hacer que los campos de texto sean de tamaño normal*/
:host ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: @padding-top-bottom-1 @padding-left-right-1 !important;
  transform: translateY(-2px);
  min-height: 35px;
  height: 35px;
}
:host ::ng-deep .mat-form-field-label-wrapper {
  top: @top-0;
}
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper
{
  padding-bottom: @padding-no !important;

}

:host ::ng-deep
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
.mat-form-field-label {
  transform: @transform-0;
  width: @width-0;
}

.css-input-0 {
  text-align: @textAlign-3;
  color: @color-14;
}

.css-error-0 {
  color: @color-5 !important;
  font-weight: @fontWeight-0;
}

.css-field-0 {
  padding-bottom: @paddingBottom;
  padding-right: @paddingRight-0;
}
.margin-r-25
{
  margin-right: @variable14;
}

@media only screen and (max-width: 600px) {
  .padding-r-20 {
    padding-right: @variable28;
  }
}
@media only screen and (min-width: 600px) {
  .padding-r-20 {
    padding-right: @variable14;
  }
}


@media only screen and (max-width: 600px) {
  .padding-r-50 {
    padding-right: @variable28;
  }
}
@media only screen and (min-width: 600px) {
  .padding-r-50 {
    padding-right: @variable30;
  }
}

:host ::ng-deep textarea.mat-input-element{
  margin-bottom: @variable10;
}
