.centered-total
{
  display: flex !important;
  justify-content: center !important;

  align-items: center !important;
}

.catalog-form{
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .catalog-form {
    width: 100%;
  }
}
