@import "../../../../../../assets/styles/evote-style/common";


.mat-card-header{
  height: 50px;
}

.mat-card{
  padding:0 !important;
}

.mat-card-content{
  padding:20px !important;
}

::ng-deep .custom-style{
  background-color:brown;
  color:white;
}
