<mat-card>
    <mat-card-header class="grey-100">
        <div fxLayout="row"
             fxLayoutAlign="start center"
        >
            Búsquedas
        </div>
    </mat-card-header>
    <mat-card-content>
        <form

                (ngSubmit)="getItems()">
            <div
                    fxLayout="row"
                    fxLayout.lt-md="column"
            >


                <div fxFlex="40" class="mr-12">
                    <label> Elija parámetro de búsqueda</label>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-select
                                id="sltEstadoPersona"
                                name="sltEstadoPersona"

                                (selectionChange)="this.itemForm.reset();"
                                [(value)]="parametroDeBusquedaSeleccionado"
                        >
                            <mat-option *ngFor="let opcion of opcionesDeBusqueda"
                                        [value]="opcion.id"
                            > {{opcion.value}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>

                <div class="mr-12 full-width" *ngIf="!parametroDeBusquedaSeleccionado" >
                    <label> -</label>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-select
                                id="sltDisable"
                                name="sltDisable"
                                disabled
                                placeholder="Deshabilitado"
                        >

                        </mat-select>
                    </mat-form-field>
                </div>

                <div  class="mr-12 full-width" *ngIf="parametroDeBusquedaSeleccionado == 'ANIO' ">
                    <label> Elija el año</label>
                    <app-select-anio
                            [(cntrl)]="itemForm.controls['anioSeleccionado']"
                    >
                    </app-select-anio>
                </div>

                <div class="mr-12 full-width" *ngIf="parametroDeBusquedaSeleccionado == 'NOMBRE' " >
                    <label> Nombre del proceso electoral</label>
                    <mat-form-field appearance="outline" class="full-width">
                        <input
                        autocomplete="off"
                        matInput
                        type="text"
                        [formControl]="itemForm.controls['nombreProcesoElectoral']"
                        />
                    </mat-form-field>
                </div>

                <div class="mr-12 full-width" *ngIf="parametroDeBusquedaSeleccionado == 'ESTADO' " >
                    <label> Activo / Inactivo</label>
                    <app-estado
                            [(cntrl)]="itemForm.controls['estado']"
                    ></app-estado>
                </div>


                <div >
                    <div
                            fxLayout="row"
                            fxLayout.lt-sm="column"
                            class="mt-24"
                    >
                        <button
                                class="full-width mr-12"
                                type="submit"
                                mat-raised-button
                                color="primary"

                        >
                            <mat-icon>search</mat-icon>
                            <!--                        <label>Buscar</label>-->
                        </button>
                        <button
                                class="full-width mr-12"
                                (click)=limpiar()
                                type="button"
                                mat-raised-button
                                color="warn"
                        >
                            <mat-icon>delete_sweep</mat-icon>
                            <!--                        <label>Limpiar</label>-->
                        </button>

                    </div>
                </div>
            </div>

        </form>

    </mat-card-content>
</mat-card>
<mat-card>

    <mat-card-header class="grey-100">
        <div fxLayout="row"
             fxLayoutAlign="start center"
        >
            Lista de procesos electorales
        </div>
    </mat-card-header>
    <mat-card-content>
        <button
                (click)="openPoup({},true)"
                class=" green-A700 "
                type="button"
                mat-raised-button
                style="color: white"
        >

            <mat-icon >note_add</mat-icon>
            <label >Nuevo</label>

        </button>
        <ngx-datatable
                class="material full-width"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="10"
                [rows]="procesosElectorales"
                [scrollbarH]="true"

        >

            <ngx-datatable-column name="Nombre Proceso Electoral" width="350">
                <ng-template ngx-datatable-cell-template let-row="row">
                    {{ row.nombreProcesoElectoral }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Horario" width="250">
                <ng-template ngx-datatable-cell-template let-row="row">
                    <span class="text-muted" > Inicio : {{row.fechaInicio | date: "dd/MMM/yy hh:mm a"}} </span>
                    <br>
                    <span class="text-muted"> Cierre : {{row.fechaFin | date: "dd/MMM/yy hh:mm a"}} </span>
                </ng-template>
            </ngx-datatable-column>


            <ngx-datatable-column name="Estado del proceso" width="200" >
                <ng-template ngx-datatable-cell-template let-row="row">

                    <mat-chip
                            class="full-width"
                            fxLayoutAlign="center"
                            style="background:{{row.color}}; "
                            selected
                    >{{row.estadoProceso}}
                    </mat-chip>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Acciones" width="120" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button *ngIf="row.estado=='ACTIVO'"
                            [disabled]="row.editable == false"
                            mat-icon-button
                            mat-sm-button
                            color="primary"
                            class="mr-1"
                            (click)="openPoup(row,false)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button
                            *ngIf="row.estado=='ACTIVO'"
                            [disabled]="row.editable == false"
                            mat-icon-button
                            mat-sm-button
                            color="warn"
                            class="mr-1" (click)="deleteItem(row)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button *ngIf="row.estado=='INACTIVO'"  mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="habilitarItem(row)">
                        <mat-icon>beenhere</mat-icon> <span>Reactivar</span>
                    </button>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Configurar Listas" width="150" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button (click)="procesoSelected.emit(row)" mat-icon-button mat-sm-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Importación Padrón" width="150" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button (click)="irImportacion.emit(row)" mat-icon-button mat-sm-button>
                        <mat-icon>article</mat-icon>
                    </button>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>

    </mat-card-content>

</mat-card>


