<div
        fxLayout="row wrap"
        fxLayout.lt-sm="column"

>

    <div fxFlex="100" class="pr-1">


        <h1 class="negrita">Verifica tu voto!</h1>
        <p>Para verificar tu voto debes tener el comprobante emitido por el sistema, una vez que finalizaste tu
            voto.</p>

    </div>

    <div fxFlex="100" fxFlexAlign="end end">
        <button
                class="mr-12 mt-8"
                mat-raised-button
                color="primary"
                type="button"
                (click)="file.click()"
        >
            <mat-icon>file_upload</mat-icon>
            Cargar comprobante
        </button>
        <input type="file" hidden
               id="file-input"
               (change)="onSelectFile($event)"
               onclick="value=null;"
               accept="text/plain"
               #file
        >
    </div>
    <div fxFlex="100" *ngIf="listaOpciones" class="mt-24">
        <span class="negrita ml-12">Nombre proceso electoral:</span>{{' '+listaOpciones.nombreProcesoElectoral}}
        <br>
        <span class="negrita ml-12">Hora del voto:</span> {{' '+listaOpciones.fechaVoto |  date: "hh:mm a"}}
        <mat-card>
            <mat-card-header class="grey-100">
                <div fxLayout="row"
                     fxLayoutAlign="start center"
                >
                    <span class="mat-title">VOTO{{' ' + this.listaOpciones?.estado}}</span>

                </div>

            </mat-card-header>
            <mat-card-content *ngIf="listaOpciones?.opciones?.length > 0">
                <div *ngIf="this.listaOpciones?.length != 0">

                    <p>Tus opciones seleccionadas son:</p>

                    <div *ngFor="let voto of this.listaOpciones?.opciones"
                         class="mb-8"
                    >
                        <span class="negrita">Nombre de lista:</span> {{voto.nombreLista}}
                        <br>
                        <span class="negrita">Nombre Escaño: </span> {{voto.nombreEscanio}}
                        <br>
                        <span class="negrita">Nombre Candidato: </span> {{voto.nombreCandidato}}
                        <br>
                        <div *ngIf="voto.nombreCandidatoAlterno != null ">
                            <span class="negrita">Nombre Candidato Alterno: </span> {{voto.nombreCandidatoAlterno}}
                        </div>


                    </div>

                </div>

            </mat-card-content>
        </mat-card>

    </div>
    <div fxFlex="100" class="pt-12" fxFlexAlign="end end">
        <span fxFlex></span>
        <button
                (click)="dialogRef.close(false)"
                type="button"
                mat-button
                color="warn"
        >
            <mat-icon>clear</mat-icon>
            Cerrar
        </button>
    </div>

</div>


