<div>
    <h1 matDialogTitle class="mb-4">{{this.title}}</h1>
</div>
<mat-divider></mat-divider>
<form [formGroup]="itemForm"
      (ngSubmit)="realizarAccionFormulario()"
>
    <!--    <div fxLayout="column wrap">-->
    <div
            fxLayout="row wrap"
            fxLayout.lt-sm="column"
            class="mt-12"
    >

        <div fxFlex="100" *ngIf="data.isNew==true">
            <label class="label-1 pt-1">Persona</label>
            <app-input-autocomplete

                    [(cntrl)] = "itemForm.controls['usuario']"
                    [api]="'persona/obtener-personas-por-nombres'"
                    [titulo]="'persona'"
            >

            </app-input-autocomplete>
            <small
                    *ngIf="itemForm.controls['usuario'].hasError('required') && itemForm.controls['usuario'].touched"
                    class="form-error-msg"> Identificación es requerida </small>
        </div>
        <div fxFlex="100">
            <mat-form-field  appearance="outline" class="full-width">
                <mat-icon matPrefix>person_pin</mat-icon>
                <input

                        matInput
                        name="Id Persona"
                        formControlName="nombrePersona"
                        value="{{itemForm?.controls['usuario']?.value.nombreUno != null ? itemForm?.controls['usuario']?.value?.nombreUno+' '+itemForm?.controls['usuario']?.value?.apellidoUno : ''}}"
                >
            </mat-form-field>
        </div>
        <div fxFlex="100" *ngIf="data.isNew==false">
            <label class="label-1 pt-1">Persona</label>
            <mat-form-field  appearance="outline" class="full-width">
                <input
                        matInput
                        name="Id Persona"
                        formControlName="identificacion"
                        [disabled]="true"
                >
            </mat-form-field>
        </div>

        <div fxFlex="100" class="mt-1">
            <label class="label-1">Rol del usuario</label>
            <mat-form-field  appearance="outline" class="full-width">
<!--                disabled="{{deshabilitarNuevo}}" -->
                <mat-select

                        [formControl]="itemForm.controls['rolUsuario']"
                >
                    <mat-option *ngFor="let rol of listaRoles"
                                [value]="rol.id"> {{rol.nombreRol}}</mat-option>

                </mat-select>
            </mat-form-field>

        </div>

        <div fxFlex="100" class="mt-1">
            <label class="label-1">Cargo del usuario</label>
            <mat-form-field  appearance="outline" class="full-width">
                <!--                disabled="{{deshabilitarNuevo}}" -->
                <mat-select

                        [formControl]="itemForm.controls['cargoUsuario']"
                >
                    <mat-option *ngFor="let cargo of listaCargos"
                                [value]="cargo.id"> {{cargo.nombreCargo}}</mat-option>

                </mat-select>
            </mat-form-field>

        </div>

    </div>

    <div class="pt-1">

        <button
                *ngIf="data.isNew == true"
                type="submit"
                mat-raised-button
                color="primary"
                [disabled]="itemForm.invalid || itemForm.value['usuario'].dt1 == null"
        >
            <mat-icon>save</mat-icon>
            Guardar
        </button>
        <button
                *ngIf="data.isNew == false"
                type="submit"
                mat-raised-button
                color="primary"
                [disabled]="itemForm.invalid"
        >
            <mat-icon>save</mat-icon>
            Guardar
        </button>
        <span fxFlex></span>
        <button
                (click)="dialogRef.close(null)"
                type="button"
                mat-button
                color="warn"
        >
            <mat-icon>clear</mat-icon>
            Cancelar
        </button>
    </div>
</form>

