<div class="sidebar-panel">
    <div id="scroll-area" [perfectScrollbar] class="navigation-hold" fxLayout="column">
        <div class="sidebar-hold">
            
            <!-- App Logo -->
            <div class="branding">
                <img src="assets/images/epn.png" alt="" class="app-logo">
                <span class="app-logo-text">EVOTE EPN</span>
                
                <span style="margin: auto" *ngIf="layoutConf.sidebarStyle !== 'compact'"></span>
                <div 
                class="sidebar-compact-switch"
                [ngClass]="{active: layoutConf.sidebarCompactToggle}"
                (click)="toggleCollapse()" 
                *ngIf="layoutConf.sidebarStyle !== 'compact'"><span></span></div>
            </div>
        
            <!-- Sidebar user -->
            <div class="app-user">
                <div class="app-user-photo">
                <img src="{{jwtAuth?.user?.imagen}}" class="mat-elevation-z1" alt="">
                </div>
                <span class="app-user-name mb-05">
                <mat-icon class="icon-xs text-muted">lock</mat-icon> 
                {{jwtAuth?.user?.displayName}}
                </span>
                <!-- Small buttons -->
<!--                <div class="app-user-controls">-->
<!--                    <span class="text-muted"> Configurar </span>-->
<!--                <button -->
<!--                class="text-muted"-->
<!--                mat-icon-button -->
<!--                mat-xs-button-->
<!--                [matMenuTriggerFor]="appUserMenu">-->
<!--                    <mat-icon>settings</mat-icon>-->
<!--                </button>-->
<!--&lt;!&ndash;                <button &ndash;&gt;-->
<!--&lt;!&ndash;                class="text-muted"&ndash;&gt;-->
<!--&lt;!&ndash;                mat-icon-button &ndash;&gt;-->
<!--&lt;!&ndash;                mat-xs-button&ndash;&gt;-->
<!--&lt;!&ndash;                matTooltip="Inbox"&ndash;&gt;-->
<!--&lt;!&ndash;                routerLink="/inbox">&ndash;&gt;-->
<!--&lt;!&ndash;                  <mat-icon>email</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                </button>&ndash;&gt;-->

<!--                <mat-menu #appUserMenu="matMenu">-->
<!--                    <button mat-menu-item routerLink="/catalogos/perfil">-->
<!--                        <mat-icon>account_box</mat-icon>-->
<!--                        <span>Mi perfil</span>-->
<!--                    </button>-->
<!--&lt;!&ndash;                    <button mat-menu-item routerLink="/profile/settings">&ndash;&gt;-->
<!--&lt;!&ndash;                        <mat-icon>settings</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span>Account Settings</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </button>&ndash;&gt;-->
<!--&lt;!&ndash;                    <button mat-menu-item routerLink="/calendar">&ndash;&gt;-->
<!--&lt;!&ndash;                        <mat-icon>date_range</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span>Calendar</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </button>&ndash;&gt;-->
<!--                    <button mat-menu-item (click)="jwtAuth.signout()">-->
<!--                        <mat-icon>exit_to_app</mat-icon>-->
<!--                        <span>Cerrar sesión</span>-->
<!--                    </button>-->
<!--                    </mat-menu>-->
<!--                </div>-->
                <div class="app-user-controls">
                    <span class="text-muted"> Salir </span>
                    <button
                            class="text-muted"
                            mat-icon-button
                            mat-xs-button
                            matTooltip="Cerrar sesión"
                            (click)="jwtAuth.signout()"
                    >
                        <mat-icon>exit_to_app</mat-icon>
                    </button>
                </div>
            </div>

            <!-- Navigation -->
            <app-sidenav [items]="menuItems" [hasIconMenu]="hasIconTypeMenuItem" [iconMenuTitle]="iconTypeMenuTitle"></app-sidenav>
        </div>
    </div>
</div>
