<h1 matDialogTitle class="mb-4">{{data.title}}</h1>
<mat-dialog-content>
    <form (ngSubmit)="this.dialogRef.close(itemForm.value)">
        <div fxLayout="row wrap" fxLayout.lt-sm="column" *ngIf="!data.aplicaAlterno">

            <div fxFlex="100" class="mt-1">
                <label class="label-1">Escaño</label>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-select
                            disabled="{{deshabilitarNuevo}}"
                            [formControl]="itemForm.controls['escanioId']"
                    >
                        <mat-option *ngFor="let eleccion of listaEscaniosDisponibles"
                                    [value]="eleccion.escanioId"> {{eleccion.nombreEscanio}}</mat-option>

                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="100" class="mt-1">
                <label class="label-1">Persona</label>
                <app-input-autocomplete
                        [(cntrl)]="itemForm.controls['persona']"
                        [api]="'persona/obtener-personas-por-nombres'"
                        [titulo]="'persona'"
                >

                </app-input-autocomplete>
            </div>
            <div fxFlex="100">
                <mat-form-field  appearance="outline" class="full-width">
                    <mat-icon matPrefix>person_pin</mat-icon>
                    <input

                            matInput
                            name="Id Persona"
                            [formControl]="itemForm.controls['identificacion']"
                            value="{{itemForm?.value['persona']?.nombreUno != null ? itemForm?.value['persona']?.nombreUno+' '+itemForm?.value['persona']?.apellidoUno : ''}}"
                    >
                </mat-form-field>
            </div>
            <div fxFlex="100" class="mr-1 mt-1">
                <input type="file" hidden
                       id="file-input"
                       #file
                       (change)="onSelectFile($event)"
                       accept="image/jpeg,image/png"
                >
                <button
                        mat-raised-button
                        type="button"
                        (click)="file.click()"
                        color="primary"
                        style="margin-bottom: 10px;
                padding-left: 1px;"
                >
                    <mat-icon>photo</mat-icon>
                    Imagen
                </button>
                <span> Selecciona la imagen del candidato principal....</span>
            </div>
            <!--        Si el objeto  no tiene imagen de -->
            <div

                    class="full-width border height-img "
                    fxLayoutAlign="center"
                    *ngIf="!itemForm.controls['imagenCandidato'].value?.base64"
            >
                <img
                        class="mr-1"
                        [src]="itemForm.controls['imagenCandidato'].value"
                        style="width: 40%; min-height: 90px; margin-top: 5px;"
                >
            </div>
            <!--        Si el usuario carga una imagen desde la pc-->
            <div

                    *ngIf="itemForm.controls['imagenCandidato'].value?.base64"
                    class="full-width border height-img "
                    fxLayoutAlign="center"

            >
                <img
                        class="mr-1"
                        [src]="itemForm.controls['imagenCandidato'].value?.base64"
                        style="width: 40%;
             margin-top: 5px;"
                >
            </div>
            <div fxFlex="100" class="mt-1">
                <button

                        type="submit"
                        mat-raised-button
                        color="primary"
                        [disabled]="itemForm.invalid || !itemForm.controls['persona']?.value?.id"
                >
                    <mat-icon>save</mat-icon>
                    Guardar
                </button>
                <span fxFlex></span>
                <button
                        (click)="dialogRef.close(null)"
                        type="button"
                        mat-button
                        color="warn"
                >
                    <mat-icon>clear</mat-icon>
                    Cancelar
                </button>
            </div>
        </div>
        <div fxLayout="row wrap" fxLayout.lt-sm="column" *ngIf="data.aplicaAlterno">
            <div fxFlex="100" class="mt-1">
                <label class="label-1">Escaño</label>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-select
                            disabled="{{deshabilitarNuevo}}"
                            [formControl]="itemForm.controls['escanioId']"
                    >
                        <mat-option *ngFor="let eleccion of listaEscaniosDisponibles"
                                    [value]="eleccion.escanioId"> {{eleccion.nombreEscanio}}</mat-option>

                    </mat-select>
                </mat-form-field>

            </div>
            <div fxFlex="49" fxLayout="row wrap" fxLayout.lt-sm="column">
                <div fxFlex="100" class="mt-1">
                    <label class="label-1"><strong style="font-size: 16px">Candidato
                        Principal</strong></label>
                    <mat-divider></mat-divider>
                </div>
                <div fxFlex="100" class="mt-1">
                    <label class="label-1">Persona</label>
                    <app-input-autocomplete
                            [(cntrl)]="itemForm.controls['persona']"
                            [api]="'persona/obtener-personas-por-nombres'"
                            [titulo]="'persona'"
                    >

                    </app-input-autocomplete>
                </div>
                <div fxFlex="100">
                    <mat-form-field  appearance="outline" class="full-width">
                        <mat-icon matPrefix>person_pin</mat-icon>
                        <input

                                matInput
                                name="Id Persona"
                                [formControl]="itemForm.controls['identificacion']"
                                value="{{itemForm?.value['persona']?.nombreUno != null ? itemForm?.value['persona']?.nombreUno+' '+itemForm?.value['persona']?.apellidoUno : ''}}"
                        >
                    </mat-form-field>
                </div>
                <div fxFlex="100" class="mr-1 mt-1">
                    <input type="file" hidden
                           id="file-input4"
                           #file
                           (change)="onSelectFile($event)"
                           accept="image/jpeg,image/png"
                    >
                    <button
                            mat-raised-button
                            type="button"
                            (click)="file.click()"
                            color="primary"
                            style="margin-bottom: 10px;
                padding-left: 1px;"
                    >
                        <mat-icon>photo</mat-icon>
                        Imagen
                    </button>
                    <span> Selecciona la imagen del candidato....</span>
                </div>
                <!--        Si el objeto  no tiene imagen de -->
                <div
                        fxFlex="100"
                     class="full-width border height-img"
                     fxLayoutAlign="center"
                     *ngIf="!itemForm.controls['imagenCandidato'].value?.base64"
                >
                    <img
                            class="mr-1"
                            [src]="itemForm.controls['imagenCandidato'].value"
                            style="width: 40%; min-height: 90px; margin-top: 5px;"
                    >
                </div>
                <!--        Si el usuario carga una imagen desde la pc-->
                <div

                        fxFlex="100"
                     *ngIf="itemForm.controls['imagenCandidato'].value?.base64"
                     class="full-width border height-img "
                     fxLayoutAlign="center"

                >
                    <img
                            class="mr-1"
                            [src]="itemForm.controls['imagenCandidato'].value?.base64"
                            style="width: 40%;
             margin-top: 5px;"
                    >
                </div>
            </div>
            <span fxFlex></span>
            <div fxFlex="49" fxLayout="row wrap" fxLayout.lt-sm="column">
                <div fxFlex="100" class="mt-1">
                    <label class="label-1"><strong style="font-size: 16px">Candidato
                        Alterno</strong></label>
                    <mat-divider></mat-divider>
                </div>
                <div fxFlex="100" class="mt-1">
                    <label class="label-1">Persona Alterna</label>
                    <app-input-autocomplete
                            [(cntrl)]="itemForm.controls['personaAlterno']"
                            [api]="'persona/obtener-personas-por-nombres'"
                            [titulo]="'persona'"
                    >
                    </app-input-autocomplete>
                </div>
                <div fxFlex="100">
                    <mat-form-field  appearance="outline" class="full-width">
                        <mat-icon matPrefix>person_pin</mat-icon>
                        <input

                                matInput
                                name="Id Persona"
                                [formControl]="itemForm.controls['identificacionAlterno']"
                                value="{{itemForm?.value['personaAlterno']?.nombreUno != null ? itemForm?.value['personaAlterno']?.nombreUno+' '+itemForm?.value['personaAlterno']?.apellidoUno : ''}}"
                        >
                    </mat-form-field>
                </div>
                <div fxFlex="100" class="mr-1 mt-1">
                    <input type="file" hidden
                           id="file-input2"
                           #filer
                           (change)="onSelectFileAlterno($event)"
                           accept="image/jpeg,image/png"
                    >
                    <button
                            mat-raised-button
                            type="button"
                            (click)="filer.click()"
                            color="primary"
                            style="margin-bottom: 10px;
                padding-left: 1px;"
                    >
                        <mat-icon>photo</mat-icon>
                        Imagen
                    </button>
                    <span> Selecciona la imagen del candidato alterno....</span>
                </div>
                <!--        Si el objeto  no tiene imagen de -->
                <div
                        class="full-width border height-img"
                        fxLayoutAlign="center"
                        *ngIf="!itemForm.controls['imagenCandidatoAlterno'].value?.base64"
                >
                    <img
                            class="mr-1"
                            [src]="itemForm.controls['imagenCandidatoAlterno'].value"
                            style="width: 40%; min-height: 90px; margin-top: 5px;"
                    >
                </div>
                <!--        Si el usuario carga una imagen desde la pc-->
                <div
                        *ngIf="itemForm.controls['imagenCandidatoAlterno'].value?.base64"
                        class="full-width border height-img"
                        fxLayoutAlign="center"

                >
                    <img
                            class="mr-1"
                            [src]="itemForm.controls['imagenCandidatoAlterno'].value?.base64"
                            style="width: 40%;
             margin-top: 5px;"
                    >
                </div>

            </div>
            <div fxFlex="100" class="mt-1">
                <button

                        type="submit"
                        mat-raised-button
                        color="primary"
                        [disabled]="itemForm.invalid ||!itemForm.controls['persona']?.value?.id || !itemForm.controls['personaAlterno']?.value?.id"
                >
                    <mat-icon>save</mat-icon>
                    Guardar
                </button>
                <span fxFlex></span>
                <button
                        (click)="dialogRef.close(null)"
                        type="button"
                        mat-button
                        color="warn"
                >
                    <mat-icon>clear</mat-icon>
                    Cancelar
                </button>
            </div>
        </div>

    </form>
</mat-dialog-content>

