<mat-dialog-content>
    <div>
        <h1 matDialogTitle class="mb-4">{{this.title}}</h1>
    </div>
    <mat-divider></mat-divider>
    <form [formGroup]="itemForm"
          (ngSubmit)="guardarDatosPersona()"
    >
        <!--    <div fxLayout="column wrap">-->
        <div
                fxLayout="row wrap"
                fxLayout.lt-sm="column"
                class="mt-12"
        >
            <div fxFlex="50" class="pb-1 pr-1">
                <label class="label-1">Primer nombre</label>
                <mat-form-field appearance="outline" class="full-width">
                    <input
                            autocomplete="off"
                            style="text-transform: uppercase"
                            (change)="itemForm.patchValue({nombreUno: $event?.target?.value.toUpperCase()})"
                            matInput
                            name="Primer nombre"
                            formControlName="nombreUno"
                            value=""
                            maxlength="100"
                    >

                    <!--                            placeholder="primer nombre..."-->
                </mat-form-field>
                <small
                        *ngIf="itemForm.controls['nombreUno'].hasError('required') && itemForm.controls['nombreUno'].touched"
                        class="form-error-msg"> Primer nombre es requerido </small>
                <small
                        *ngIf="itemForm.controls['nombreUno'].hasError('maxlength') && itemForm.controls['nombreUno'].touched"
                        class="form-error-msg"> Longitud máxima de 100 caracteres </small>
            </div>

            <div fxFlex="50" class="pb-1">
                <label class="label-1">Segundo nombre</label>
                <mat-form-field appearance="outline" class="full-width">
                    <input
                            style="text-transform: uppercase"
                            (change)="itemForm.patchValue({nombreDos: $event?.target?.value.toUpperCase()})"
                            matInput
                            name="Esbriba su segundo nombre"
                            formControlName="nombreDos"
                            autocomplete="off"
                            value=""
                            maxlength="100"
                    >
                    <!--                    placeholder="segundo nombre..."-->
                </mat-form-field>
                <small
                        *ngIf="itemForm.controls['nombreDos'].hasError('maxlength') && itemForm.controls['nombreDos'].touched"
                        class="form-error-msg"> Longitud máxima de 100 caracteres </small>
            </div>

            <div fxFlex="50" class="pb-1 pr-1">
                <label class="label-1">Primer apellido</label>
                <mat-form-field appearance="outline" class="full-width">

                    <input
                            autocomplete="off"
                            style="text-transform: uppercase"
                            (change)="itemForm.patchValue({apellidoUno: $event?.target?.value.toUpperCase()})"
                            matInput
                            name="Primer apellido"
                            formControlName="apellidoUno"
                            maxlength="100"
                            value="">
                </mat-form-field>
                <!--                placeholder="primer apellido..."-->
                <small
                        *ngIf="itemForm.controls['apellidoUno'].hasError('required') && itemForm.controls['apellidoUno'].touched"
                        class="form-error-msg"> Primer apellido es requerido </small>
                <small
                        *ngIf="itemForm.controls['apellidoUno'].hasError('maxlength') && itemForm.controls['apellidoUno'].touched"
                        class="form-error-msg"> Longitud máxima de 100 caracteres </small>
            </div>

            <div fxFlex="50" class="pb-1">
                <label class="label-1">Segundo apellido</label>
                <mat-form-field appearance="outline" class="full-width">
                    <input
                            autocomplete="off"
                            style="text-transform: uppercase"
                            (change)="itemForm.patchValue({apellidoDos: $event?.target?.value.toUpperCase()})"
                            matInput
                            name="Segundo apellido"
                            formControlName="apellidoDos"
                            maxlength="100"
                            value="">
                </mat-form-field>
                <!--                placeholder="segundo apellido..."-->
                <small
                        *ngIf="itemForm.controls['apellidoDos'].hasError('maxlength') && itemForm.controls['apellidoDos'].touched"
                        class="form-error-msg"> Longitud máxima de 100 caracteres </small>
            </div>

            <div fxFlex="100" class="pb-1">
                <label class="label-1">Identificación</label>
                <mat-form-field  appearance="outline" class="full-width">
                    <input
                            autocomplete="off"
                            matInput
                            name="Identificacion"
                            formControlName="identificacion"
                            value=""
                            [disabled]="!this.data.isNew"
                            maxlength="20"
                    >
                </mat-form-field>
                <!--                placeholder="identificacion..."-->
                <small
                        *ngIf="itemForm.controls['identificacion'].hasError('required') && itemForm.controls['identificacion'].touched"
                        class="form-error-msg"> Identificación es requerida </small>
                <small
                        *ngIf="itemForm.controls['identificacion'].hasError('digits') && itemForm.controls['identificacion'].touched"
                        class="form-error-msg"> Solo se permiten dígitos </small>
                <small
                        *ngIf="itemForm.controls['identificacion'].hasError('maxlength') && itemForm.controls['identificacion'].touched"
                        class="form-error-msg"> Longitud máxima de 20 caracteres </small>
            </div>

            <div fxFlex="50" class="pb-1 pr-1">
                <label class="label-1">Teléfono 1</label>
                <mat-form-field appearance="outline" class="full-width">
                    <input
                            autocomplete="off"
                            matInput
                            name="telefono uno"
                            formControlName="telefonoUno"
                            maxlength="20"
                            value="">
                </mat-form-field>
                <!--                placeholder="telefono uno..."-->
                <small
                        *ngIf="itemForm.controls['telefonoUno'].hasError('required') && itemForm.controls['telefonoUno'].touched"
                        class="form-error-msg"> Identificación es requerida </small>
                <small
                        *ngIf="itemForm.controls['telefonoUno'].hasError('digits') && itemForm.controls['telefonoUno'].touched"
                        class="form-error-msg"> Solo se permiten dígitos </small>
                <small
                        *ngIf="itemForm.controls['telefonoUno'].hasError('maxlength') && itemForm.controls['telefonoUno'].touched"
                        class="form-error-msg"> Longitud máxima de 20 caracteres </small>
            </div>

            <div fxFlex="50" class="pb-1">
                <label class="label-1">Teléfono 2</label>
                <mat-form-field appearance="outline" class="full-width">
                    <input
                            autocomplete="off"
                            matInput
                            name="telefono dos"
                            formControlName="telefonoDos"
                            maxlength="20"
                            value="">
                </mat-form-field>

                <small
                        *ngIf="itemForm.controls['telefonoDos'].hasError('digits') && itemForm.controls['telefonoDos'].touched"
                        class="form-error-msg"> Solo se permiten dígitos </small>
                <small
                        *ngIf="itemForm.controls['telefonoDos'].hasError('maxlength') && itemForm.controls['telefonoDos'].touched"
                        class="form-error-msg"> Longitud máxima de 20 caracteres </small>
            </div>

            <div fxFlex="100" class="pb-1">
                <label class="label-1">Correo electrónico</label>
                <mat-form-field appearance="outline" class="full-width">
                    <input
                            autocomplete="off"
                            matInput
                            type="email"
                            name="email"
                            formControlName="email"
                            placeholder=""
                            value=""
                            maxlength="60"
                    >
                </mat-form-field>
                <small
                        *ngIf="itemForm.controls['email'].hasError('required') && itemForm.controls['email'].touched"
                        class="form-error-msg"> Correo electrónico es requerido </small>
                <small
                        *ngIf="itemForm.controls['email'].hasError('email') && itemForm.controls['email'].touched"
                        class="form-error-msg"> El correo ingresado no es válido </small>
                <small
                        *ngIf="itemForm.controls['telefonoDos'].hasError('digits') && itemForm.controls['telefonoDos'].touched"
                        class="form-error-msg"> Excede longitud máxima</small>
            </div>

        </div>

        <div>
            <button
                    type="submit"
                    mat-raised-button
                    color="primary"
                    [disabled]="itemForm.invalid"
            >
                <mat-icon>save</mat-icon>
                Guardar
            </button>
            <span fxFlex></span>
            <button
                    (click)="dialogRef.close(null)"
                    type="button"
                    mat-button
                    color="warn"
            >
                <mat-icon>clear</mat-icon>
                Cancelar
            </button>
        </div>
    </form>

</mat-dialog-content>
