<mat-card>
    <mat-card-header style="background-color: #2A314B; color: white">
        <div fxLayout="row"
             fxLayoutAlign="start center"
        >
            <h3> Tienes las siguientes elecciones disponibles</h3>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let proceso of procesosVigentes">
            <mat-card class="user-card p-0">
                <mat-card-content>
                    <!-- user detail lines-->
                    <div
                            fxLayout="row wrap"
                            fxLayout.lt-sm="column">

                        <div fxFlex="15">
                            <img height="80px" src="/assets/images/votoepn/votar.svg">

                        </div>
                        <div fxFlex="40">
                            <span>   <h3>{{proceso.nombreEleccion}}</h3>  </span>
                            <br>
                            <span class="text-muted">{{ " "+proceso.nombreProcesoElectoral+" "}} </span>
                            <br>
                            <span class="text-muted">{{ " "+proceso.tipoEleccion+" "}} </span>

                        </div>
                        <div fxFlex="35" >
                            <h3 class="fz-1">Horario  :</h3>
                            <p class="text-muted" > Inicio : {{proceso.fechaInicio | date: "dd/MMM/yy hh:mm a"}} </p>
                            <p class="text-muted"> Cierre : {{proceso.fechaFin | date: "dd/MMM/yy hh:mm a"}} </p>
                        </div>
                        <div
                                *ngIf="!proceso.votoRealizado"
                                fxFlex="5" >
                            <h3>Votar :</h3>
                            <button
                                    class=" green-A700 "
                                    type="button"
                                    style="color: white"
                                    (click)="irMesaDeVoto(proceso.id)"
                            >
                                <mat-icon>
                                    mode_edit
                                </mat-icon>
                            </button>
                        </div>
                        <div
                                *ngIf="proceso.votoRealizado"
                                fxFlex="5" >
                            <h2> Voto ya realizado</h2>
                            <mat-icon
                                    style="color: forestgreen "
                            >
                                check_circle
                            </mat-icon>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

    </mat-card-content>
</mat-card>

