<form [formGroup]="itemForm">
    <div
            fxLayout="column"
            fxLayout.lt-sm="column"
            fxLayoutAlign="center center"
    >

        <div fxFlex="80">
            <h1 class="negrita">Voto guardado exitosamente! </h1>
        </div>
        <div fxFlex="15">
            <mat-icon
                    class="icon-circle-check"
                    style="color: {{paletaColores.color3}}; "
            >
                check_circle
            </mat-icon>
        </div>

        <div fxFlex="100" class="pr-1">

            <p>Se ha descargado el comprobante de tu voto, recuerda guardarlo en un lugar seguro. </p>
            <p>Este comprobante te servirá en el futuro para validar que tu voto no haya sido alterado.</p>


        </div>
        <div fxFlex="100" class="pt-12">
            <button
                    (click)="dialogRef.close(null)"
                    type="button"
                    mat-raised-button
                    color="primary"
            >
                OK
            </button>
        </div>

    </div>
</form>
