<mat-form-field appearance="outline" class="full-width">
    <mat-select id="sltEstadoPersona" name="sltEstadoPersona" [(value)]="defaultSelected" [formControl]="cntrl">
        <mat-option [value]="'ACTIVO'" >ACTIVO</mat-option>
        <mat-option [value]="'INACTIVO'">INACTIVO</mat-option>
    </mat-select>
</mat-form-field>
