<h1 matDialogTitle class="mb-4">{{data.title}}</h1>
<form class="mt-4" (ngSubmit)="this.dialogRef.close(itemForm.value)">
    <div
            fxLayout="row wrap"
            fxLayout.lt-sm="column"
            class="mt-12"
    >
        <div fxFlex="100" class="mt-8 pt-8">
            <label class="label-1">Nombre Proceso Electoral</label>
            <mat-form-field appearance="outline" class="full-width">

                <textarea
                        autocomplete="off"
                        style="text-transform: uppercase"
                        (change)="itemForm.patchValue({nombreEscanio: $event?.target?.value.toUpperCase()})"
                        cdkTextareaAutosize
                        matInput
                        oninput="this.value = this.value.toUpperCase()"
                        cdkAutosizeMinRows="2"
                        [formControl]="itemForm.controls['nombreProcesoElectoral']"
                        maxlength="200"
                >

                                    </textarea>
            </mat-form-field>
            <small
                    *ngIf="itemForm.controls['nombreProcesoElectoral'].hasError('maxlength') && itemForm.controls['nombreProcesoElectoral'].touched"
                    class="form-error-msg"> Longitud máxima de 200 caracteres </small>
        </div>

        <div fxFlex="100" class="mt-8 py-4">
            <label>Dia de eleccion</label>
            <mat-form-field class="full-width" appearance="outline">
                <input
                        matInput
                        placeholder="Día de la elección"
                        [owlDateTimeFilter]="omitirFinDeSemana"
                        [owlDateTime]="dt1"
                        [owlDateTimeTrigger]="dt1"
                        [formControl]="itemForm.controls['diaEleccion']"
                        [min]="diaInicioMin"
                        #datePickerDia
                />
                <mat-icon

                        [owlDateTimeTrigger]="dt1"
                        matSuffix
                        class="css-iconSuccess"
                        style="cursor:pointer;"
                >today
                </mat-icon>
            </mat-form-field>
            <owl-date-time
                #dt1
                [pickerType]="'calendar'"
                firstDayOfWeek="1"
            >


            </owl-date-time>
        </div>

        <div fxFlex="100" class="mt-1">
            <div
                    fxLayout="row wrap"
                    fxLayout.lt-sm="column"
            >
                <div fxFlex="45">
                    <label>Hora de inicio</label>
                    <mat-form-field class="full-width" appearance="outline">
                        <input
                                matInput
                                placeholder="hora de inicio"
                                [owlDateTime]="dt3"
                                [owlDateTimeTrigger]="dt3"
                                [formControl]="itemForm.controls['horaInicio']"
                                [min]="horaInicioMin"
                                [max]="horaFinMax"
                                (dateTimeChange)="obtenerHoraMinimaSeleccionada($event)"
                                #datePickerHoraInicio

                        />
                        <mat-icon

                                [owlDateTimeTrigger]="dt3"
                                matSuffix
                                class="css-iconSuccess"
                                style="cursor:pointer;"
                        >timer
                        </mat-icon>

                    </mat-form-field>
                    <owl-date-time #dt3
                                   [pickerType]="'timer'"
                    ></owl-date-time>
                    <div *ngIf="itemForm.controls['horaInicio'].invalid && itemForm.controls['horaInicio'].errors.owlDateTimeMin">
                        <span style="color: red"> Hora de inicio fuera del rango permitido </span>
                    </div>
                    <div *ngIf="itemForm.controls['horaInicio'].invalid && itemForm.controls['horaInicio'].errors.owlDateTimeMax">

                        <span style="color: red">Hora de inicio fuera del rango permitido</span>
                    </div>
                </div>

                <span fxFlex></span>

                <div fxFlex="45">
                    <label>Hora de cierre</label>
                    <mat-form-field class="full-width" appearance="outline">
                        <input
                                matInput
                                placeholder="hora de cierre"
                                [owlDateTime]="dt2"
                                [owlDateTimeTrigger]="dt2"
                                [formControl]="itemForm.controls['horaFin']"
                                [min]="horaInicioActual"
                                [max]="horaFinMax"
                                #datePickerHoraFin
                        />
                        <mat-icon
                                [owlDateTimeTrigger]="dt2"

                                matSuffix
                                class="css-iconSuccess"
                                style="cursor:pointer;"
                        >timer
                        </mat-icon>
                    </mat-form-field>
                    <owl-date-time #dt2
                                   [pickerType]="'timer'"
                    ></owl-date-time>

                    <div *ngIf="itemForm.controls['horaFin'].invalid && itemForm.controls['horaFin'].errors.owlDateTimeMin">
                        <span style="color: red">Hora de cierre fuera del rango permitido</span>
                    </div>
                    <div *ngIf="itemForm.controls['horaFin'].invalid && itemForm.controls['horaFin'].errors.owlDateTimeMax">
                        <span style="color: red">Hora de cierre fuera del rango permitido</span>
                    </div>
                </div>
            </div>

        </div>


        <div fxFlex="100" class="mt-1">
            <label class="label-1">Tipo de elección</label>
            <mat-form-field appearance="outline" class="full-width">
                <mat-select

                        [formControl]="itemForm.controls['eleccionId']"
                >
                    <mat-option
                            *ngFor="let eleccion of lsElecciones"
                            [value]="eleccion.id"
                    >
                        {{eleccion.nombreEleccion}}

                    </mat-option>

                </mat-select>
            </mat-form-field>

        </div>

        <div fxFlex="100" class="pt-12">
            <button
                    type="submit"
                    mat-raised-button
                    color="primary"
                    [disabled]="itemForm.invalid"
            >
                <mat-icon>save</mat-icon>
                Guardar
            </button>
            <span fxFlex></span>
            <button
                    (click)="dialogRef.close(null)"
                    type="button"
                    mat-button
                    color="warn"
            >
                <mat-icon>clear</mat-icon>
                Cancelar
            </button>
        </div>
    </div>


</form>

