.icon-check{
  height:100px !important;
  width:100px !important;
  font-size:100px !important;
  padding: 0px;
}

.icon-eyes{
  height:100px !important;
  width:100px !important;
  font-size:100px !important;
  padding: 0px;
}

.icon-circle-check{
  height:80px !important;
  width:80px !important;
  font-size:80px !important;
  padding: 0px;
}

.candidatos-imagen{
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.logo-lista{
  height: 80px;
  width: 80px;
  margin-right: 20px;
  border-radius: 50px;
}

.negrita {
  font-weight: bold;
}

.cursor-forma-visto {
  cursor: url("../../../../../assets/images/votoepn/votar.svg"),auto;
}
