<mat-card>
    <mat-card-title>
        <div class="mb-12">

            <h2 class="negrita mb-8">IMPORTANTE!</h2>
            <h3>* Recuerda, si eliges mas de las opciones permitidas, tu voto contará como <span class="negrita">VOTO NULO</span>
            </h3>
            <h3>* Si no eliges ninguna opción, tu voto contará como <span class="negrita">VOTO EN BLANCO</span></h3>

        </div>
    </mat-card-title>
    <mat-divider class="mb-8"></mat-divider>
<ng-container *ngIf="!redirigiendo">
    <!--    Estado Actual del voto-->
    <div
            fxLayout="column"
            fxLayout.lt-sm="column"
            fxLayoutAlign="start end"
    >
        <div fxFlex="15" class="mt-12">
            <mat-chip
                    fxLayoutAlign="center"
                    style="background:{{votoEstado.color}}; width: auto "
                    selected
            >{{votoEstado.estado}}
            </mat-chip>
        </div>
        <div class="mt-12">
            <p>{{votoEstado.mensaje}}</p>
        </div>
    </div>
    <!-- Vista que se muestra cuando son eleeciones Unipersonales-->
    <div
            fxLayout="row wrap"
            class="mt-16"
            *ngIf="procesoElectoralSeleccionado?.tipoEleccion == 'Unipersonal'"
            fxLayoutAlign="center"
    >
        <div
                *ngFor="let lista of listaCandidatos"
                fxFlex.gt-sm="33"
                fxFlex.lt-lg="50"
                fxFlex.lt-md="100"
        >

            <button
                    style="width: 95%; min-width: 30%"
                    fxFlexAlign="center center"
                    (click)="seleccionarListaUnipersonal(lista)"
            >
                <mat-card class="user-card  p-0">
                    <mat-card-title>
                        <div class="card-title-text">
                            <img class="logo-lista"
                                 src="{{lista.logoUrl}}"
                                 alt="logo-lista"

                            >
                            <span>{{lista?.nombreLista}}</span>
                            <span fxFlex></span>
                            <mat-icon
                                    *ngIf="!listasSeleccionadas.includes(lista.id)"
                                    class="icon-check">
                                check_box_outline_blank
                            </mat-icon>

                            <mat-icon
                                    *ngIf="listasSeleccionadas.includes(lista.id)"
                                    class="icon-check "
                                    style="color: {{paletaColores.color3}}; "
                            >
                                check_box
                            </mat-icon>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-card-title>
                    <mat-card-content>
                        <!-- user detail lines-->

                        <div>
                            <div *ngFor="let canditato of lista.candidatos" class="mb-8">

                                <p class="negrita"> {{canditato?.nombreEscanio + ": "}}</p>
                                <div
                                        fxLayoutAlign="center"
                                        fxLayout="row"
                                        fxLayout.lt-sm="row"
                                        fxLayout.xs="column"
                                >

                                    <div>
                                        <img
                                                class="candidatos-imagen"
                                                src="{{canditato.fotoUrl}}"
                                                alt=""
                                        >
                                        <br>
                                        <span *ngIf="procesoElectoralSeleccionado.aplicaAlterno">Principal</span>
                                        <br>
                                        <span class="text-muted ">{{canditato.nombreCandidato}}</span>
                                    </div>
                                    <div *ngIf="procesoElectoralSeleccionado.aplicaAlterno">
                                        <img
                                                class="candidatos-imagen"
                                                src="{{canditato.fotoUrlAlterno}}"
                                                alt=""
                                        >
                                        <br>
                                        <span>Alterno</span>
                                        <br>
                                        <span class="text-muted ">{{canditato.nombreCandidatoAlterno}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </mat-card-content>
                </mat-card>

            </button>
        </div>
    </div>


    <!-- Vista que se muestra cuando son eleeciones Pluripersonales-->

    <div
            fxLayoutAlign="center start"
            fxLayout="row wrap"
            class="mt-16"
            *ngIf="procesoElectoralSeleccionado?.tipoEleccion == 'Pluripersonal'"
    >

        <!--        fxFlex.gt-sm="33" de 1280 para arriba se hace 33 -->
        <!--        fxFlex.lt-lg="50"  menos de 1276px se hace 50-->
        <!--        fxFlex.lt-md="100" menos de 959px se hace 100-->
        <!--        -->
        <div
                *ngFor="let lista of listaCandidatos"

                fxFlex.gt-sm="33"
                fxFlex.lt-lg="50"
                fxFlex.lt-md="100"
        >

            <mat-card class="user-card p-0" style="min-height: 600px">
                <mat-card-title>
                    <div class="card-title-text">
                        <img class="logo-lista"
                             src="{{lista.logoUrl}}"
                             alt="logo-lista"

                        >
                        <span>{{lista?.nombreLista}}</span>
                        <span fxFlex></span>
                        <div>
                            <button
                                    class="white-900"
                                    style="border: none;"
                                    (click)="seleccionarListaConCandidatos(lista)"
                            >

                                <mat-icon
                                        *ngIf="!listasSeleccionadas.includes(lista.id)"
                                        class="icon-check">
                                    check_box_outline_blank
                                </mat-icon>
                                <mat-icon
                                        *ngIf="listasSeleccionadas.includes(lista.id)"
                                        class="icon-check "
                                        style="color:{{paletaColores.color3}}; "
                                >
                                    check_box
                                </mat-icon>
                            </button>
                        </div>


                    </div>
                    <mat-divider></mat-divider>
                </mat-card-title>
                <mat-card-content>
                    <!-- user detail lines-->
                    <div>
                        <div *ngFor="let canditato of lista.candidatos" class="mb-8">

                            <p class="negrita"> {{canditato?.nombreEscanio + ": "}}</p>

                            <div
                                    fxLayout="row"
                                    fxLayout.lt-sm="row"
                            >
                                <div
                                        fxLayout="row"
                                        fxLayout.lt-sm="row"
                                        fxLayout.xs="column"
                                >
                                    <div
                                            class="mr-1"
                                    >
                                        <img
                                                class="candidatos-imagen"
                                                src="{{canditato.fotoUrl}}"
                                                alt=""
                                        >
                                        <br>
                                        <span *ngIf="procesoElectoralSeleccionado.aplicaAlterno">Principal</span>
                                        <br>
                                        <span class="text-muted ">{{canditato.nombreCandidato}}</span>
                                    </div>
                                    <div
                                            *ngIf="procesoElectoralSeleccionado.aplicaAlterno"
                                    >
                                        <img
                                                class="candidatos-imagen"
                                                src="{{canditato.fotoUrlAlterno}}"
                                                alt=""
                                        >
                                        <br>
                                        <span>Alterno</span>
                                        <br>
                                        <span class="text-muted ">{{canditato.nombreCandidatoAlterno}}</span>
                                    </div>
                                </div>

                                <span fxFlex></span>
                                <button
                                        *ngIf="!candidatosSeleccionados.includes(canditato.id)"
                                        class="white-900"
                                        style="border: none;"
                                        (click)="seleccionarCandidato(canditato,lista)"
                                >
                                    <mat-icon
                                            class="icon-check">
                                        check_box_outline_blank
                                    </mat-icon>
                                </button>

                                <button
                                        *ngIf="candidatosSeleccionados.includes(canditato.id)"
                                        class="white-900"
                                        style="border: none;"
                                        (click)="seleccionarCandidato(canditato,lista)"
                                >
                                    <mat-icon
                                            class="icon-check "
                                            style="color: {{paletaColores.color3}}; "
                                    >
                                        check_box
                                    </mat-icon>
                                </button>
                            </div>


                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <!--            </button>-->
        </div>
    </div>

    <!--    Boton para emitir el voto-->
    <div
            fxLayout="column"
            fxLayout.lt-sm="column"
            fxLayoutAlign="center center"
    >

        <button
                class="mt-12 green-A700"
                style="color: white; border-radius: 10px; width: 50%; height: 60px"
                (click)="confirmarVoto()"
        >
            <h1>EMITIR VOTO</h1>
        </button>
    </div>

</ng-container>

</mat-card>



