<form [formGroup]="itemForm">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
        <div fxFlex="15" class="pr-1" >
            <mat-icon class="label-error">remove_red_eye</mat-icon>
        </div>
        <div fxFlex="80" class="pr-1" >

<!--            <a  (click)="dialogRef.close(false)">-->
<!--                <mat-icon class="label-error">highlight_off</mat-icon>-->
<!--            </a>-->
            <h1 class="negrita">Verifica tu voto!</h1>
            <p>Tus opciones seleccionadas son:</p>

            <div *ngIf="_estadoVoto == 'VOTO NULO'">
                <h1>{{_estadoVoto}}</h1>
            </div>
            <div *ngIf="_estadoVoto == 'VOTO EN BLANCO'">
                <h1>{{_estadoVoto}}</h1>
            </div>

            <div *ngIf="_estadoVoto == 'VOTO VALIDO'">
                <div *ngFor="let voto of listavotos"
                     class="mb-8"
                >
                    <span class="negrita">Nombre de lista:</span> {{voto.nombreLista}}
                    <br>
                    <span class="negrita">Nombre Escaño: </span> {{voto.nombreEscanio}}
                    <br>
                    <span class="negrita">Nombre Candidato: </span> {{voto.nombreCandidato}}

                </div>
            </div>



        </div>
        <div fxFlex="100" class="pt-12" >
            <button
                    (click)="dialogRef.close(true)"
                    type="button"
                    mat-raised-button
                    style="background-color: {{paletaColores.color3}}; color: white"
            >
                <mat-icon>save</mat-icon>
                Votar
            </button>
            <span fxFlex></span>
            <!--            (click)="dialogRef.close(null)"-->
            <button
                    (click)="dialogRef.close(false)"
                    type="button"
                    mat-button
                    color="warn"
            >
                <mat-icon>clear</mat-icon>
                Cancelar
            </button>
        </div>

    </div>
</form>
