

.titulo-bienvenidos{
    background: #ccc;
    background: linear-gradient(100deg, #081A41, #A6131E);
    font-size: calc(3em + 3vw);
    line-height: 115%;
    font-family: system-ui;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


.center{
    text-align: center;
    position: relative;
}

.mensaje{
    font-family: system-ui;
    font-size: calc(1em + 1vw);
}

