<div
        fxLayout="column"
        fxLayoutAlign="space-around center"
        fxLayout.sm="column"
>

  <div>
    <p class="titulo-bienvenidos center">
      Bienvenido
    </p>
  </div>
  <div>
    <p class="center mensaje">Este es el sistema de voto electrónico de la Escuela Politécnica Nacional </p>
  </div>
</div>


