<mat-card class="border">
    <form

            (ngSubmit)="getItems()">
        <div
                fxLayout="row wrap"
                fxLayout.lt-sm="column"
                class="catalog-form">

            <div fxFlex="30" class="mr-12">
                <button
                        (click)="openPoup({},true)"
                        class="full-width green-A700 "
                        type="button"
                        mat-raised-button
                >

                    <mat-icon [ngStyle]="{'color':'white'}">note_add</mat-icon>
                    <label [ngStyle]="{'color':'white'}">Nuevo</label>

                </button>
            </div>
            <div fxFlex="30" class="mr-12">
                <button
                        class="full-width"
                        type="submit"
                        mat-raised-button
                        color="primary"
                >
                    <mat-icon>search</mat-icon>
                    <label>Buscar</label>
                </button>

            </div>
            <div fxFlex="30" class="mr-12">

                <button
                        class="full-width"
                        (click)="itemForm.reset()"
                        type="button"
                        mat-raised-button
                        color="warn"
                >
                    <mat-icon>undo</mat-icon>
<!--                    undo-->
                    <label>Limpiar</label>
                </button>
            </div>


        </div>
        <div
                fxLayout="row wrap"
                fxLayout.lt-sm="column"
                class="centered-total mt-12">

            <div fxFlex="30" class="p-1">
                <label class="label-1">Nombre Escaño</label>
                <mat-form-field appearance="outline" class="full-width">
                    <input
                            autocomplete="off"
                            matInput
                            type="text"
                            [formControl]="itemForm.controls['nombreEscanio']"
                    />
                </mat-form-field>
            </div>
            <div fxFlex="30" class="p-1">
                <label class="label-1">Estado</label>
                <app-estado
                        [(cntrl)]="itemForm.controls['estado']">
                </app-estado>
            </div>
        </div>

    </form>
</mat-card>
<mat-card>
    <ngx-datatable
            class="material"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [limit]="10"
            [rows]="escanios"
            [scrollbarH]="true"
    >

        <ngx-datatable-column name="Nombre Escaño" [flexGrow]="1">
            <ng-template ngx-datatable-cell-template let-row="row">
                {{ row.nombreEscanio }}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Eleccion" [flexGrow]="1">
            <ng-template ngx-datatable-cell-template let-row="row">
                {{ row.nombreEleccion }}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Estado" [flexGrow]="1">
            <ng-template ngx-datatable-cell-template let-row="row">
                <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.badge">{{row.estado=="ACTIVO" ? 'ACTIVO' : 'INACTIVO'}}</mat-chip>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Acciones" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPoup(row,false)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)">
                    <mat-icon>delete</mat-icon>
                </button>
            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>
</mat-card>
