<div class="page-wrap height-100 image">
  <div class="session-form-hold">
    <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
    <mat-card class="epn-logout">
      <mat-card-content>
        <div class="text-center pt-8 pb-16">
          <img width="60px" src="assets/images/epn-oscuro.png" alt="" style="width: 50%; margin: 0 auto">
          <p class="text-muted-white m-0">Iniciar Sesión</p>
        </div>

        <form [formGroup]="signinForm" (ngSubmit)="signin()">
          <div class="mb-1">
            <label> <b class="text-muted-white">Usuario</b> </label>
            <mat-form-field class="full-width" appearance="outline">
              <input
                matInput
                name="username"
                [formControl]="signinForm.controls['username']"
                value="">
            </mat-form-field>
            <small 
              *ngIf="signinForm.controls['username'].hasError('required') && signinForm.controls['username'].touched" 
              class="form-error-msg text-11"> Nombre de usuario es requerido </small>
          </div>

          <div class="mb-1">
            <label> <b class="text-muted-white">Contraseña</b> </label>
            <mat-form-field class="full-width" appearance="outline">
              <input 
                type="password"
                name="password"
                matInput
                [formControl]="signinForm.controls['password']"
                value="">
            </mat-form-field>
            <small 
              *ngIf="signinForm.controls['password'].hasError('required') && signinForm.controls['password'].touched" 
              class="form-error-msg text-11"> Contraseña es requerida </small>
          </div>

          <button mat-raised-button class="mat-primary full-width mb-1" [disabled]="signinForm.invalid">Iniciar Sesión</button>
          <div class="text-center">
            <a [routerLink]="'/sessions/forgot-password'" class="text-muted-white text-center full-width">Olvidé mi contraseña</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

