<form [formGroup]="itemForm">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
        <div fxFlex="10" class="pr-1" >

            <a  (click)="dialogRef.close(false)">
                <mat-icon class="label-error">highlight_off</mat-icon>
            </a>

        </div>
        <div fxFlex="10" class="pr-1">&nbsp;</div>
        <div fxFlex="80" class="pr-1">{{ titulo }}</div>

        <div fxFlex="100" class="pr-1">&nbsp;</div>

        <div fxFlex="20" class="pr-1">&nbsp;</div>
        <div fxFlex="80" class="pr-1">{{ mensajeError }}</div>
        <div fxFlex="20" class="pr-1" *ngIf="mensajeErrorAlternativo.length > 0">&nbsp;</div>
        <div fxFlex="80" class="pr-1" *ngIf="mensajeErrorAlternativo.length > 0">{{ mensajeErrorAlternativo }}</div>

        <div fxFlex="100" class="pr-1">&nbsp;</div>
        <div fxFlex="100" class="mt-1" style="text-align: center;">
            <button
                    mat-raised-button
                    color="primary"
                    (click)="dialogRef.close(false)">
                Aceptar
            </button>
        </div>
    </div>
</form>
