<label
        class="label-1"
        *ngIf="mat_label"
>{{ mat_label }}</label
>

<mat-form-field [appearance]="appearance || 'outline'" class="full-width">
    <mat-icon matPrefix>search</mat-icon>
    <input
            [readonly]="readOnly"
            type="text"
            [formControl]="cntrl"
            [matAutocomplete]="auto"
            autocomplete="off"
            [placeholder]="' Ingrese la identificación de la ' + (titulo ? titulo.toLowerCase() : '') + '...'"
            aria-label="Number"
            matInput
            oninput="this.value = this.value.toUpperCase();"
            (keyup)="handleKeyboardEvent($event)"
            (paste)="onPaste($event)"
            orden
            maxlength="20"

    />
    <mat-spinner *ngIf="loader" matSuffix></mat-spinner>
</mat-form-field>
<small *ngIf="cntrl.hasError(errorCode) && mensajeError" class="form-error-msg">
    {{ mensajeError }}
</small>
<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          <span class="mat-body-2"> {{option.dt1}}</span>
        <span class="mat-headline">{{"|"}}</span>
        <span class="mat-caption"> {{option.nombreUno+' '+option.apellidoUno}}</span>
    </mat-option>
</mat-autocomplete>
