<mat-form-field appearance="outline" class="full-width">
    <mat-select id="sltAnio" name="sltAnio"
                [formControl]="cntrl"
    >
        <mat-option *ngFor="let anio of listaAnios"
                    [value]="anio.id"> {{anio.value}}</mat-option>
    </mat-select>
</mat-form-field>
