<div class="page-wrap height-100 image">
  <div class="session-form-hold">
    <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
    <mat-card class="epn-logout">
      <mat-card-content>
        <div class="text-center pt-8 pb-16">
          <img width="60px" src="assets/images/epn-oscuro.png" alt="" style="width: 50%; margin: 0 auto">
          <p class="text-muted-white m-0">Solicitar cambio de contraseña</p>
        </div>
        <form [formGroup]="recuperarForm" (ngSubmit)="submitCambio()">
          <div>
            <label class="label-white">Email</label>
            <mat-form-field appearance="outline" class="full-width">
              <input
                      matInput
                      autocomplete="off"
                      [formControl]="recuperarForm.controls['email']"
              />
            </mat-form-field>
            <br />
          </div>
          <button mat-raised-button color="primary" class="full-width mb-1"[disabled]="recuperarForm.invalid">
            Enviar
          </button>
          <div class="text-center">
            <button mat-raised-button color="warn" class="mat-warn text-center full-width mr-1" id="forgot-password"
                    [routerLink]="'/sessions/signin'">
              Cancelar
            </button>
            <span fxFlex></span>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>


