<div fxLayout="row wrap">
    <div
            fxFlex="100"
    >

        <mat-card class="border grey-100">
            <div
                    fxLayout="row wrap"
                    fxLayout.lt-sm="column"
            >
                <div fxFlex="15">
                    <div class="card-title-text">
                        <!--                                <a href="" class="toolbar-avatar md mr-1"><img [src]="" alt=""></a>-->
                        <img class="border redondear-esquinas" height="100px" width="100px"
                             src="{{listaSelected?.logoUrl}}">
                    </div>
                </div>

<!--                <div fxFlex="20">-->
<!--                    <div class="full-width">-->
<!--                        <small class="text-muted mt-12">Eslogan:</small>-->
<!--                        <h3 class="m-0 font-normal " style="width:auto ">{{listaSelected?.eslogan}}</h3>-->
<!--                    </div>-->

<!--                </div>-->
                <div fxFlex="20">
                    <small class="text-muted mt-12">Nombre de la Lista:</small>
                    <h3 class="m-0 font-normal ">{{listaSelected?.nombreLista}}</h3>

                </div>
                <div fxFlex="35">
                    <small class="text-muted  mt-12">Proceso electoral:</small>
                    <h3 class="m-0 font-normal">{{listaSelected?.nombreProcesoElectoral}}</h3>
                </div>
                <div fxFlex="30">
                    <small class="text-muted  mt-12">Escaños:</small>

                    <div *ngFor="let escanio of listaEscanios">
                        <h3  class="m-0 font-normal">{{escanio?.nombreEscanio?.toString().toUpperCase()}}   </h3>
                    </div>

<!--                    <h3 class="m-0 font-normal">DECANO</h3>-->
<!--                    <h3 class="m-0 font-normal">SUBDECANO</h3>-->
<!--                    <h3 class="m-0 font-normal">Secretario</h3>-->
                </div>
            </div>
        </mat-card>


        <mat-card class="p-0">
            <mat-card-header class="grey-100" style="height: 50px">
                <div fxLayout="row"
                     fxLayoutAlign="start center"
                >
                    Lista de Candidatos
                </div>
            </mat-card-header>
            <mat-card-content style="padding: 20px">
                <div *ngIf="listaCandidatos?.length < listaEscanios?.length  && procesoSelected?.editable ==true">
                    <button

                            class="green-A700"
                            type="button"
                            mat-raised-button
                            style="color: white"
                            (click)="openPoup({},true)"

                    >
                        <mat-icon>note_add</mat-icon>
                        Nuevo
                    </button>
                </div>
                <div *ngIf="listaCandidatos?.length >= listaEscanios?.length && procesoSelected?.editable ==true ">
                    <button
                            disabled
                            type="button"
                            mat-raised-button

                    >
                        <mat-icon>note_add</mat-icon>
                        Nuevo
                    </button>
                    <small class="form-error-msg"> * Se han seleccionado todos los escaños disponibles </small>

                </div>



                <div fxLayout="row wrap">
                    <div
                            *ngFor="let candidato of listaCandidatos"
                            fxFlex="100"
                            fxFlex.gt-sm="33"
                            fxFlex.sm="50">
                        <app-candidato
                                [candidato]="candidato"
                                [procesoSelected]="procesoSelected"
                                (deleteItem)="deleteItem($event)"
                        >

                        </app-candidato>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
