@import "../../../../../../assets/styles/evote-style/common";
.height-img
{
  height: 15vh!important;
  max-height: 15vh !important;
}


//Para redondear los cards
.redondear-esquinas{
  border-radius: 15px;
}
