<div fxLayout="row wrap">
    <div fxFlex="100">
        <mat-card class="border grey-100">
            <div
                    fxLayout="row wrap"
                    fxLayout.lt-sm="column"
            >

                <div fxFlex="25">
                    <h1 class="text-muted">{{procesoSelected?.nombreProcesoElectoral}}</h1>
                    <!--                <span fxFlex></span>-->
                    <mat-chip
                            class="icon-chip"
                            style="background:{{procesoSelected?.color}}; "
                            selected="true"
                            style="width: 70px"
                    >
                        {{procesoSelected?.estadoProceso}}
                    </mat-chip>
                </div>

                <div fxFlex="25">
                    <small class="text-muted mt-12">Fecha de inicio:</small>
                    <h3 class="m-0 font-normal ">{{procesoSelected?.fechaInicio | date: "dd/MMM/yy hh:mm a"}}</h3>
                </div>
                <div fxFlex="25">
                    <small class="text-muted mt-12">Fecha de cierre:</small>
                    <h3 class="m-0 font-normal ">{{procesoSelected?.fechaFin | date: "dd/MMM/yy hh:mm a"}}</h3>

                </div>
                <div fxFlex="25">
                    <small class="text-muted  mt-12">Tipo de elección:</small>
                    <h3 class="m-0 font-normal">{{procesoSelected?.nombreEleccion}}</h3>

                </div>


            </div>
        </mat-card>
    </div>
    <div fxFlex="100" class="mt-1">
        <mat-card class="p-0">
            <mat-card-header class="grey-100">
                <div fxLayout="row"
                     fxLayoutAlign="start center"
                >
                    Búsquedas
                </div>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="itemForm" (ngSubmit)="buscar()">
                    <div fxLayout="row wrap" fxLayout.lt-sm="column">
                        <div fxFlex="70" class="pr-1">
                            <label> Buscar Empadronado</label>
                            <mat-form-field appearance="outline" class="full-width">
                                <input
                                        placeholder="Buscar por Nombre/ Identificación"
                                        autocomplete="off"
                                        matInput
                                        type="text"
                                        [formControl]="itemForm.controls['nombre']"
                                />
                            </mat-form-field>
                        </div>
                        <div fxFlex="30" >
                            <button
                                    class=" mr-12 mt-24"
                                    ngClass.lt-sm="full-width"
                                    type="submit"
                                    mat-raised-button
                                    color="primary"

                            >
                                <mat-icon>search</mat-icon>
                                <!--                        <label>Buscar</label>-->
                            </button>
                            <button
                                    class=" mr-12 mt-24"
                                    ngClass.lt-sm="full-width"
                                    (click)=limpiarBusqueda()
                                    type="button"
                                    mat-raised-button
                                    color="warn"
                            >
                                <mat-icon>delete_sweep</mat-icon>
                                <!--                        <label>Limpiar</label>-->
                            </button>
                            <button
                                    *ngIf="procesoSelected?.editable == true"
                                    class="mr-12 mt-24"
                                    ngClass.lt-sm="full-width"
                                    mat-raised-button
                                    color="accent"
                                    type="button"
                                    (click)="validarImportacion(file)"
                            >
                                <mat-icon>file_upload</mat-icon>
                                Importar Padrón
                            </button>
                            <input type="file" hidden
                                   id="file-input"
                                   (change)="onSelectFile($event)"
                                   onclick="value=null;"
                                   accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                   #file
                            >


                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>

    </div>
    <div fxFlex="100">
        <mat-card class="p-0">
            <mat-card-header class="grey-100">
                <div fxLayout="row"
                     fxLayoutAlign="start center"
                >
                    Lista de empadronados
                </div>
            </mat-card-header>
            <mat-card-content>
                <button
                        (click)="openPoup({},true)"
                        *ngIf="procesoSelected?.editable == true"
                        class=" green-A700 "
                        type="button"
                        mat-raised-button
                        style="color: white"
                >

                    <mat-icon >note_add</mat-icon>
                    <label >Nuevo</label>

                </button>

                <ngx-datatable
                        class="material full-width"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="50"
                        [limit]="10"
                        [rows]="lstPadron"
                        [scrollbarH]="true"
                        [externalPaging]="true"
                        [scrollbarV]="false"
                        (page)="setPage($event)"
                        [offset]="paginaSeleccionada"
                        [count]="totalRegistros"
                >
                    <ngx-datatable-column name="" [flexGrow]="30" width="50">
                        <ng-template ngx-datatable-cell-template>
                            <mat-icon>person</mat-icon>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Nombre"  width="300">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            {{ row.nombreEmpadronado }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Identificación" [flexGrow]="190">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            {{ row.identificacionEmpadronado }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Email usuario" [flexGrow]="190">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            {{ row.emailEmoadronado }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Estado" [flexGrow]="300">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <mat-chip mat-sm-chip [color]="'primary'"
                                      [selected]="row.estado == 'ACTIVO'">{{row.estado == "ACTIVO" ? 'ACTIVO' : 'INACTIVO'}}</mat-chip>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Acciones" [flexGrow]="15">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                        <button
                                [disabled]="procesoSelected?.editable == false"
                                mat-icon-button
                                mat-sm-button
                                color="warn"
                                class="mr-1"
                                (click)="deleteItem(row)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </mat-card-content>
        </mat-card>


    </div>
</div>
