<div>
    <h1 matDialogTitle class="mb-4">{{this.title}}</h1>
</div>
<mat-divider></mat-divider>
<form [formGroup]="itemForm"
      (ngSubmit)="crearEmpadronado()"
>
    <!--    <div fxLayout="column wrap">-->
    <div
            fxLayout="row wrap"
            fxLayout.lt-sm="column"
            class="mt-12"
    >

        <div fxFlex="100" *ngIf="data.isNew==true">
            <label class="label-1 pt-1">Persona</label>
            <app-input-autocomplete

                    [(cntrl)] = "itemForm.controls['usuario']"
                    [api]="'usuario/VELstUsrAct'"
                    [titulo]="'usuario'"
            >

            </app-input-autocomplete>
            <small
                    *ngIf="itemForm.controls['usuario'].hasError('required') && itemForm.controls['usuario'].touched"
                    class="form-error-msg"> Identificación es requerida </small>
        </div>

        <div fxFlex="100">
            <mat-form-field  appearance="outline" class="full-width">
                <mat-icon matPrefix>person_pin</mat-icon>
                <input

                        matInput
                        name="Id Persona"
                        formControlName="identificacion"
                        value="{{itemForm?.value['usuario']?.nombreUno != null ? itemForm?.value['usuario']?.nombreUno+' '+itemForm?.value['usuario']?.apellidoUno : ''}}"
                >
            </mat-form-field>
        </div>


        <div class="pt-1">

            <button
                    *ngIf="data.isNew == true"
                    type="submit"
                    mat-raised-button
                    color="primary"
                    [disabled]="itemForm.invalid || itemForm.value['usuario'].dt1 == null"
            >
                <mat-icon>save</mat-icon>
                Guardar
            </button>
            <span fxFlex></span>
            <button
                    (click)="dialogRef.close(null)"
                    type="button"
                    mat-button
                    color="warn"
            >
                <mat-icon>clear</mat-icon>
                Cancelar
            </button>
        </div>
    </div>
</form>
