@import '~assets/styles/evote-style/common';
@import "~assets/styles/evote-style/logout";


.image{
  background: url("~assets/images/backgrounds/epn-1.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}
.text-11
{
  font-size:16px !important;
  color: #ffc107;
}
