<mat-card class="mat-card-style">
    <mat-card-header class="mat-card-header-style" style="background-color: #2A314B; color: white">
        <div fxLayout="row"
             fxLayoutAlign="start center"
        >
            <h3> Resultados </h3>
        </div>
    </mat-card-header>
    <mat-card-content style="padding: 0px">
        <mat-card class="mat-card-style" *ngIf="this.propiedades?.esBuscador">
            <mat-card-header class="grey-100 mat-card-header-style">
                <div fxLayout="row"
                     fxLayoutAlign="start center"
                >
                    Búsquedas
                </div>
            </mat-card-header>
            <mat-card-content>
                <form

                        (ngSubmit)="getItems()">
                    <div
                            fxLayout="row"
                            fxLayout.lt-md="column"
                    >


                        <div fxFlex="40" class="mr-12">
                            <label> Elija parámetro de búsqueda</label>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-select
                                        id="sltEstadoPersona"
                                        name="sltEstadoPersona"

                                        (selectionChange)="this.itemForm.reset();"
                                        [(value)]="parametroDeBusquedaSeleccionado"
                                >
                                    <mat-option *ngFor="let opcion of opcionesDeBusqueda"
                                                [value]="opcion.id"
                                    > {{opcion.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>

                        <div class="mr-12 full-width" *ngIf="!parametroDeBusquedaSeleccionado">
                            <label> -</label>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-select
                                        id="sltDisable"
                                        name="sltDisable"
                                        disabled
                                        placeholder="Deshabilitado"
                                >

                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="mr-12 full-width" *ngIf="parametroDeBusquedaSeleccionado == 'ANIO' ">
                            <label> Elija el año</label>
                            <app-select-anio
                                    [(cntrl)]="itemForm.controls['anioSeleccionado']"
                            >
                            </app-select-anio>
                        </div>

                        <div class="mr-12 full-width" *ngIf="parametroDeBusquedaSeleccionado == 'NOMBRE' ">
                            <label> Nombre del proceso electoral</label>
                            <mat-form-field appearance="outline" class="full-width">
                                <input
                                        autocomplete="off"
                                        matInput
                                        type="text"
                                        [formControl]="itemForm.controls['nombreProcesoElectoral']"
                                />
                            </mat-form-field>
                        </div>

                        <div class="mr-12 full-width" *ngIf="parametroDeBusquedaSeleccionado == 'ESTADO' ">
                            <label> Activo / Inactivo</label>
                            <app-estado
                                    [(cntrl)]="itemForm.controls['estado']"
                            ></app-estado>
                        </div>


                        <div>
                            <div
                                    fxLayout="row"
                                    fxLayout.lt-sm="column"
                                    class="mt-24"
                            >
                                <button
                                        class="full-width mr-12"
                                        type="submit"
                                        mat-raised-button
                                        color="primary"

                                >
                                    <mat-icon>search</mat-icon>
                                    <!--                        <label>Buscar</label>-->
                                </button>
                                <button
                                        class="full-width mr-12"
                                        (click)=limpiar()
                                        type="button"
                                        mat-raised-button
                                        color="warn"
                                >
                                    <mat-icon>delete_sweep</mat-icon>
                                    <!--                        <label>Limpiar</label>-->
                                </button>

                            </div>
                        </div>
                    </div>

                </form>

            </mat-card-content>
        </mat-card>
        <mat-card class="mat-card-style" *ngIf="this.propiedades?.esBuscador">
            <mat-card-header class="grey-100 mat-card-header-style">
                <div fxLayout="row"
                     fxLayoutAlign="start center"
                >
                    Procesos
                </div>
            </mat-card-header>
            <mat-card-content>
                <ngx-datatable
                        class="material full-width"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="'auto'"
                        [limit]="10"
                        [rows]="lsProcesos"
                        [scrollbarH]="true"

                >

                    <ngx-datatable-column name="" [flexGrow]="30">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <mat-card class="red-card"
                                      [routerLink]="['/resultados','proceso','detalle',row.id]">
                                <mat-card-content class="process">
                                    <div
                                            fxLayout="row wrap"
                                            fxLayout.lt-sm="column"
                                    >
                                        <div fxFlex="40">
                                            <h1 class="font-weight-bold texted">{{row?.nombreProcesoElectoral?.toUpperCase()}}</h1>
                                            <mat-chip
                                                    class="icon-chip"
                                                    selected="true"
                                                    style="width: 100px;  background-color: {{row.color}}"
                                            >
                                                {{row?.estadoProceso || ''}}
                                            </mat-chip>
                                        </div>
                                        <div fxFlex="20">
                                            <small class="font-weight-bold mt-12">Fecha de inicio:</small>
                                            <h3 class="m-0 font-normal ">{{row?.fechaInicio | date: "dd/MMM/yy hh:mm a"}}</h3>
                                        </div>
                                        <div fxFlex="20">
                                            <small class="font-weight-bold mt-12">Fecha de cierre:</small>
                                            <h3 class="m-0 font-normal ">{{row?.fechaFin | date: "dd/MMM/yy hh:mm a"}}</h3>

                                        </div>
                                        <div fxFlex="20">
                                            <small class=" font-weight-bold mt-12">Tipo de elección:</small>
                                            <h3 class="m-0 font-normal">{{row?.nombreEleccion}}</h3>

                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </mat-card-content>
        </mat-card>
        <mat-card class="mat-card-style" *ngIf="this.propiedades?.idProceso">
            <mat-card-header class="grey-100 mat-card-header-style">
                <div fxLayout="row"
                     fxLayoutAlign="start center"
                >
                    <button mat-raised-button color="primary" [routerLink]="['/resultados/proceso/finalizados']">
                        <mat-icon>arrow_backward</mat-icon>
                        Regresar
                    </button>
                </div>
            </mat-card-header>
            <mat-card-content>
                <mat-card class="grey-card" *ngIf="proceso">
                    <mat-card-content>
                        <div
                                fxLayout="row wrap"
                                fxLayout.lt-sm="column"
                        >

                            <div fxFlex="40">
                                <h1 class="font-weight-bold">{{proceso?.nombreProcesoElectoral?.toUpperCase()}}</h1>
                                <mat-chip
                                        class="icon-chip"
                                        selected="true"
                                        style="width: 100px;  background-color: {{proceso?.color}}"
                                >
                                    {{proceso?.estadoProceso || ''}}
                                </mat-chip>
                            </div>

                            <div fxFlex="20">
                                <small class="font-weight-bold mt-12">Fecha de inicio:</small>
                                <h3 class="m-0 font-normal ">{{proceso?.fechaInicio | date: "dd/MMM/yy hh:mm a"}}</h3>
                            </div>
                            <div fxFlex="20">
                                <small class="font-weight-bold mt-12">Fecha de cierre:</small>
                                <h3 class="m-0 font-normal ">{{proceso?.fechaFin | date: "dd/MMM/yy hh:mm a"}}</h3>

                            </div>
                            <div fxFlex="20">
                                <small class=" font-weight-bold mt-12">Tipo de elección:</small>
                                <h3 class="m-0 font-normal">{{proceso?.nombreEleccion}}</h3>

                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <div class="full-width" *ngIf="proceso?.tipoEleccion === eleccionUnipersonal">
                    <br>
                    <mat-accordion>
                        <mat-expansion-panel class="grey-card">
                            <mat-expansion-panel-header>
                                <label class="label-2"> Resumen </label>
                            </mat-expansion-panel-header>
                                <div fxLayout="row wrap" fxLayout.lt-sm="column" class="full-width">
                                    <div
                                            fxFlex.gt-sm="33"
                                            fxFlex.lt-lg="50"
                                            fxFlex.lt-md="100"

                                    >
                                        <mat-card class="redondear-esquinas" style="min-height: 80px"
                                                  fxLayoutAlign="start center">
                                            <div class="card-title-text">
                                                <mat-icon class="mr-1">donut_small</mat-icon>
                                                <span class="text-14 text-muted mr-1">Número de Empadronados</span>
                                                <span fxFlex></span>
                                                <span class="text-18 font-weight-bold text-green">{{detalleProceso.NumeroEmpadronados}} </span>
                                            </div>
                                        </mat-card>
                                    </div>
                                    <div
                                            fxFlex.gt-sm="33"
                                            fxFlex.lt-lg="50"
                                            fxFlex.lt-md="100"

                                    >
                                        <mat-card class="redondear-esquinas" style="min-height: 80px"
                                                  fxLayoutAlign="start center">
                                            <div class="card-title-text">
                                                <mat-icon class="mr-1">donut_small</mat-icon>
                                                <span class="text-14 text-muted mr-1">Empadronados que
                                                Votaron</span>
                                                <span fxFlex></span>
                                                <span class="text-18 font-weight-bold text-green">{{detalleProceso.NumeroEmpadronadosVotaron}}</span>
                                            </div>
                                        </mat-card>
                                    </div>
                                    <div
                                            fxFlex.gt-sm="33"
                                            fxFlex.lt-lg="50"
                                            fxFlex.lt-md="100"

                                    >
                                        <mat-card class="redondear-esquinas" style="min-height: 80px"
                                                  fxLayoutAlign="start center">
                                            <div class="card-title-text">
                                                <mat-icon class="mr-1">donut_small</mat-icon>
                                                <span class="text-14 text-muted mr-1">Porcentaje Empadronados que
                                                Votaron</span>
                                                <span fxFlex></span>
                                                <span class="text-18 font-weight-bold text-green">{{detalleProceso.PorcentajeVotantes | number : '1.2-2'}}%</span>
                                            </div>
                                        </mat-card>
                                    </div>
                                    <div
                                            fxFlex.gt-sm="33"
                                            fxFlex.lt-lg="50"
                                            fxFlex.lt-md="100"

                                    >
                                        <mat-card class="redondear-esquinas" style="min-height: 80px"
                                                  fxLayoutAlign="start center">
                                            <div class="card-title-text">
                                                <mat-icon class="mr-1">donut_small</mat-icon>
                                                <span class="text-14 text-muted mr-1">Votos Válidos</span>
                                                <span fxFlex></span>
                                                <span class="text-18 font-weight-bold text-green">{{detalleProceso.NumeroVotosValidos}}</span>
                                            </div>
                                        </mat-card>
                                    </div>
                                    <div
                                            fxFlex.gt-sm="33"
                                            fxFlex.lt-lg="50"
                                            fxFlex.lt-md="100"

                                    >
                                        <mat-card class="redondear-esquinas" style="min-height: 80px"
                                                  fxLayoutAlign="start center">
                                            <div class="card-title-text">
                                                <mat-icon class="mr-1">donut_small</mat-icon>
                                                <span class="text-14 text-muted mr-1">Votos Blancos</span>
                                                <span fxFlex></span>
                                                <span class="text-18 font-weight-bold text-green">{{detalleProceso.NumeroVotosBlancos}} </span>
                                            </div>
                                        </mat-card>
                                    </div>
                                    <div
                                            fxFlex.gt-sm="33"
                                            fxFlex.lt-lg="50"
                                            fxFlex.lt-md="100"

                                    >
                                        <mat-card class="redondear-esquinas" style="min-height: 80px"
                                                  fxLayoutAlign="start center">
                                            <div class="card-title-text">
                                                <mat-icon class="mr-1">donut_small</mat-icon>
                                                <span class="text-14 text-muted mr-1">Votos Nulos</span>
                                                <span fxFlex></span>
                                                <span class="text-18 font-weight-bold text-green">{{detalleProceso.NumeroVotosNulos}}</span>
                                            </div>
                                        </mat-card>
                                    </div>
                                </div>

                            <div
                                    class="font-weight-bold p-1 fon t-big"> Resumen por Listas
                            </div>
                            <mat-divider style="position: relative"></mat-divider>
                            <ng-container *ngIf="!detalleProceso.AplicaAlicuota">
                                <div class="full-width centered-total">
                                    <mat-card class="redondear-esquinas">
                                        <div fxLayout="row" fxLayout.lt-sm="column"
                                             *ngFor="let lista of detalleProceso.DetallesListas">
                                            <div fxLayout="row wrap" class="full-width">
                                                <div fxFlex="35" fxFlex.lt-sm="50" fxLayoutAlign="start center"
                                                     class="font-weight-bold p-1 font-big text-gray">{{lista.NombreLista}} </div>
                                                <div fxFlex="20" fxFlex.lt-sm="50" fxLayoutAlign="start center">
                                                    <img *ngIf="lista.ImagenLista"  fxLayoutAlign="center center" class="img-resumen p-1"
                                                         src="{{lista.ImagenLista}}"
                                                         alt="">
                                                </div>
                                                <div fxFlex="45" fxFlex.lt-sm="100" fxLayoutAlign="start center">
                                                    <progress
                                                            class="progress"
                                                            [value]="lista.PorcentajeEmpadronados || 0"
                                                            max="100"
                                                    >
                                                    </progress>
                                                    &nbsp;{{lista.PorcentajeEmpadronados || 0 | number : '1.2-2'}}%
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="detalleProceso.AplicaAlicuota">
                                <div class="full-width centered-total width-50">
                                    <mat-card class="redondear-esquinas">
                                        <div fxLayout="row" fxLayout.lt-sm="column"
                                             *ngFor="let lista of detalleProceso.DetallesListas">
                                            <div fxLayout="row wrap" class="full-width" *ngIf="lista.NombreLista">
                                                <div fxFlex="35" fxFlex.lt-sm="50" fxLayoutAlign="start center"
                                                     class="font-weight-bold p-1 font-big text-gray">{{lista.NombreLista}} </div>
                                                <div fxFlex="20" fxFlex.lt-sm="50" fxLayoutAlign="start center">
                                                    <img *ngIf="lista.ImagenLista"  fxLayoutAlign="center center" class="img-resumen p-1"
                                                         src="{{lista.ImagenLista}}"
                                                         alt="">
                                                </div>
                                                <div fxFlex="45" fxFlex.lt-sm="100"  fxLayoutAlign="center center">
                                                    <progress
                                                            class="progress"
                                                            [value]="lista.PorcentajePonderados || 0"
                                                            max="100"
                                                    >
                                                    </progress>
                                                    &nbsp;{{lista.PorcentajePonderados || 0 | number : '1.2-2'}}%
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                            </ng-container>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <br>
                    <mat-accordion>
                        <mat-expansion-panel class="grey-card">
                            <mat-expansion-panel-header>
                                <label class="label-2"> Detalle </label>
                            </mat-expansion-panel-header>
                            <ng-container *ngIf="!detalleProceso.AplicaAlicuota">
                                <div fxLayout="row" fxLayout.lt-sm="column"
                                     *ngFor="let lista of detalleProceso.DetallesListas">
                                    <mat-card class="" fxFlex="50" fxLayoutAlign="center center">
                                        <mat-card-content class="full-width">
                                            <div fxLayout="row wrap" class="full-width">
                                                <div fxFlex="50" fxLayoutAlign="end end"
                                                     class="font-weight-bold p-1 font-big">{{lista.NombreLista}} </div>
                                                <div fxFlex="50" fxLayoutAlign="start end">
                                                    <img fxLayoutAlign="center end" class="img-resumen p-1"
                                                         src="{{lista.ImagenLista}}"
                                                         alt="">
                                                </div>
                                            </div>

                                            <mat-divider class="divider mb-1"></mat-divider>

                                            <div fxLayout="column">
                                                <div fxLayout="row wrap" fxLayout.lt-sm="column" class="ml-1"
                                                     *ngFor="let candidato of lista.Candidatos">
                                                    <div fxFlex.lt-md="100" fxFlex.md="100" fxFlex.gt-md="20">
                                                        <img class="img-resumen-1" src="{{candidato.fotoUrl}}" alt="">
                                                    </div>
                                                    <div fxFlex.lt-md="100" fxFlex.md="100" fxFlex.gt-md="80"
                                                         fxLayoutAlign="start center">
                                                        <div fxLayout="row wrap" fxLayout.lt-sm="column">
                                                            <div class="pd-05" fxFlex.lt-md="50"> <strong>{{candidato.nombreEscanio}}:</strong></div>
                                                            <div class="pd-05" fxFlex.lt-md="50">{{candidato.nombreCandidato}}</div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>


                                        </mat-card-content>
                                    </mat-card>
                                    <mat-card class="grey-card" fxFlex="50" fxLayout="column"
                                              fxLayoutAlign="center center">
                                        <div fxLayout="row wrap" fxLayout.lt-sm="column">
                                            <div
                                                    fxFlex="100"

                                            >
                                                <mat-card class="redondear-esquinas" style="min-height: 80px"
                                                          fxLayoutAlign="start center">
                                                    <div class="card-title-text">
                                                        <mat-icon class="mr-1">donut_small</mat-icon>
                                                        <span class="text-14 text-muted mr-1">Votos por la lista</span>
                                                        <span fxFlex></span>
                                                        <span class="text-18 font-weight-bold text-green">{{lista.CantidadVotosLista}}</span>
                                                    </div>
                                                </mat-card>
                                            </div>
                                            <div
                                                    fxFlex="100"

                                            >
                                                <mat-card class="redondear-esquinas" style="min-height: 80px"
                                                          fxLayoutAlign="start center">
                                                    <div class="card-title-text">
                                                        <mat-icon class="mr-1">donut_small</mat-icon>
                                                        <span class="text-14 text-muted mr-1">Porcentaje respecto a los votos consignados</span>
                                                        <span fxFlex></span>
                                                        <span class="text-18 font-weight-bold text-green">{{lista.PorcentajeEmpadronados  | number : '1.2-2'}}%</span>
                                                    </div>
                                                </mat-card>
                                            </div>
                                            <div
                                                    fxFlex="100"

                                            >
                                                <mat-card class="redondear-esquinas" style="min-height: 80px"
                                                          fxLayoutAlign="start center">
                                                    <div class="card-title-text">
                                                        <mat-icon class="mr-1">donut_small</mat-icon>
                                                        <span class="text-14 text-muted mr-1">Porcentaje respecto al total de votos válidos:</span>
                                                        <span fxFlex></span>
                                                        <span class="text-18 font-weight-bold text-green">{{lista.PorcentajeValidosTotalLista  | number : '1.2-2'}}%</span>
                                                    </div>
                                                </mat-card>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="detalleProceso.AplicaAlicuota">
                                <div fxLayout="row wrap" fxLayout.lt-sm="column">
                                    <div
                                            fxFlex.gt-sm="33"
                                            fxFlex.lt-lg="50"
                                            fxFlex.lt-md="100"
                                            *ngFor="let cargo of detalleProceso.DetallesProcesoCargo"
                                    >
                                        <mat-card class="redondear-esquinas" style="min-height: 80px"
                                        >
                                            <div fxLayout="row wrap" fxLayout.lt-sm="column" >
                                                <div fxFlex="80">
                                                    <mat-icon class="mr-1">donut_small</mat-icon>
                                                    <span class="text-14 text-muted mr-1">Cargo: </span>
                                                    <span fxFlex></span>
                                                    <span class="text-18 font-weight-bold text-green">{{cargo.NombreCargoProceso}} </span>
                                                </div>
                                                <div fxFlex="70">
                                                    <span class="text-14 text-muted mr-1">Derecho a voto: </span>
                                                    <span fxFlex></span>
                                                    <span class="text-18 font-weight-bold text-green">{{cargo.CantidadEmpadronadosCargo}} </span>
                                                </div>
                                                <div fxFlex="70">
                                                    <span class="text-14 text-muted mr-1">Ponderación: </span>
                                                    <span fxFlex></span>
                                                    <span class="text-18 font-weight-bold text-green">{{cargo.Ponderacion | number:'1.2-3'}} </span>

                                                </div>
                                                <div fxFlex="70">
                                                    <span class="text-14 text-muted mr-1">Participación: </span>
                                                    <span fxFlex></span>
                                                    <span class="text-18 font-weight-bold text-green">{{cargo.Participacion}}% </span>

                                                </div>
                                                <div fxFlex="70">
                                                    <span class="text-14 text-muted mr-1">Alicuota: </span>
                                                    <span fxFlex></span>
                                                    <span class="text-18 font-weight-bold text-green">{{cargo.Alicuota | number:'1.2-3' }} </span>

                                                </div>
                                                <div fxFlex="70">
                                                    <span class="text-14 text-muted mr-1">Votos Consignados: </span>
                                                    <span fxFlex></span>
                                                    <span class="text-18 font-weight-bold text-green">{{cargo.CantidadVotosConsignados}} </span>
                                                </div>
                                                <div fxFlex="70">
                                                    <span class="text-14 text-muted mr-1">Votos Ponderados: </span>
                                                    <span fxFlex></span>
                                                    <span class="text-18 font-weight-bold text-green">{{cargo.CantidadVotosPonderados | number:'1.2-3'}} </span>

                                                </div>
                                            </div>
                                        </mat-card>
                                    </div>
                                </div>
                                <div fxLayout="row wrap" fxLayout.lt-sm="column"
                                     class="full-width centered-total"
                                     *ngFor="let lista of detalleProceso.DetallesListas">
                                    <div fxFlex.gt-md="50" fxFlex="100" class="full-width">
                                        <mat-card [ngClass]="lista.EsTotal ?'color-ganador1':'' " class="redondear-esquinas">
                                            <mat-card-content >
                                                <div fxLayout="row wrap" class="full-width">
                                                    <div [fxFlex]="(lista.EsTotal || lista.EsNoValido)? 100 :50" [fxLayoutAlign]="(lista.EsTotal || lista.EsNoValido)? 'center center':'end end'"
                                                         class="font-weight-bold p-1 text-gray">{{lista.EsTotal? 'TOTAL ELECCIÓN':lista.NombreLista}} </div>
                                                    <div *ngIf="!lista.EsTotal && !lista.EsNoValido" fxFlex="50" fxLayoutAlign="start end">
                                                        <img fxLayoutAlign="center end" class="img-resumen p-1"
                                                             src="{{lista.ImagenLista}}"
                                                             alt="">
                                                    </div>
                                                </div>

                                                <mat-divider class="divider mb-1"></mat-divider>
                                                <div fxLayout="row wrap" fxLayout.lt-sm="column" class="ml-1 mb-1"
                                                     *ngFor="let candidato of lista.Candidatos">
                                                    <div fxFlex="100">
                                                        <div fxLayout="row wrap" fxLayout.lt-md="column">
                                                            <div fxFlex="40">
                                                                <ng-container
                                                                        *ngTemplateOutlet=" fotoCandidato;context:{tipo:'Principal', fotoUrl: candidato.fotoUrl, aplicaAlterno: detalleProceso.AplicaAlterno}">
                                                                </ng-container>
                                                            </div>
                                                            <div fxFlex="40" *ngIf="detalleProceso.AplicaAlterno">
                                                                <ng-container
                                                                        *ngTemplateOutlet="fotoCandidato;context:{tipo:'Alterno', fotoUrl: candidato.fotoUrlAlterno,aplicaAlterno: detalleProceso.AplicaAlterno}">
                                                                </ng-container>
                                                            </div>
                                                            <div fxFlex="100">
                                                                <div><strong
                                                                        class="mr-1">Candidato: </strong>{{candidato.nombreCandidato}}
                                                                </div>
                                                                <div *ngIf="detalleProceso.AplicaAlterno && candidato.nombreCandidatoAlterno">
                                                                    <strong class="mr-1">Alterno: </strong>{{candidato.nombreCandidatoAlterno}}
                                                                </div>
                                                            </div>
                                                            <div fxFlex="100">
                                                                <div><strong
                                                                        class="mr-1">Escaño: </strong>{{candidato.nombreEscanio}}
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div fxFlex="100">
                                                        <br>
                                                        <mat-divider style="position: relative"></mat-divider>
                                                        <br>
                                                    </div>

                                                </div>
                                                <div fxLayout="row wrap" class="full-width" *ngIf="detalleProceso.DetallesProcesoCargo?.length > 0">
                                                    <div fxFlex="100" >
                                                        <div><strong
                                                                class="mr-1">Detalle: </strong>
                                                        </div>
                                                        <div class="mat-elevation-z2" style="overflow: auto">
                                                        <table class="full-width" mat-table
                                                               [dataSource]="lista.DetallesProcesoCargo">

                                                            <ng-container matColumnDef="cargos">
                                                                <th class=" text-16 font-weight-bold text-green" mat-header-cell *matHeaderCellDef> Cargos</th>
                                                                <td mat-cell
                                                                    *matCellDef="let element" class="text-16 font-weight-bold text-gray"> {{ element.NombreCargoProceso}} </td>
                                                            </ng-container>


                                                            <ng-container matColumnDef="consignados">
                                                                <th class="aligned text-16 font-weight-bold text-green" mat-header-cell *matHeaderCellDef> N°
                                                                    Votos Consignados
                                                                </th>
                                                                <td class="aligned text-16 font-weight-bold text-gray" mat-cell
                                                                    *matCellDef="let element" > {{element.CantidadVotosConsignados }} </td>
                                                            </ng-container>


                                                            <ng-container matColumnDef="ponderados">
                                                                <th class="aligned text-16 font-weight-bold text-green" mat-header-cell *matHeaderCellDef> N°
                                                                    Votos Ponderados
                                                                </th>
                                                                <td class="aligned text-16 font-weight-bold text-gray" mat-cell
                                                                    *matCellDef="let element" > {{element.CantidadVotosPonderados | number:'1.2-3'}} </td>
                                                            </ng-container>
                                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                            <tr mat-row
                                                                *matRowDef="let row; columns: displayedColumns;"></tr>
                                                        </table>
                                                        </div>
                                                    </div>
                                                    <div fxFlex="100" class="mt-1">
                                                        <div class=" mat-elevation-z2" style="width: fit-content; overflow: auto; max-width: 100%">
                                                        <table style="background-color: white">
                                                            <tr>
                                                                <td class="p-1"><strong class="mr-1 font-weight-bold text-green">Total Ponderado:</strong>
                                                                </td>
                                                                <td
                                                                        class="p-1 font-big font-weight-bold">{{lista.TotalPonderados | number:'1.2-3' }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="p-1"><strong class="mr-1 font-weight-bold text-green">% Votación</strong>
                                                                </td>
                                                                <td
                                                                        class="p-1 font-big font-weight-bold">{{lista.PorcentajePonderados | number:'1.2-3'  }}%</td>
                                                            </tr>
                                                        </table>
                                                        </div>

                                                    </div>

                                                </div>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                </div>
                            </ng-container>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <br>
                </div>
                <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                <div class="full-width" *ngIf="proceso?.tipoEleccion === eleccionPluripersonal">
                    <br>
                    <mat-accordion>
                        <mat-expansion-panel class="grey-card">
                            <mat-expansion-panel-header>
                                <label class="label-2"> Resumen </label>
                            </mat-expansion-panel-header>
                            <div
                                    class="text-14 font-weight-bold ">Decisión Elección
                            </div>
                            <mat-divider style="position: relative"></mat-divider>
                            <div class="centered-total full-width ">
                                <mat-card class="calculated centered-total"
                                          [ngClass]="detalleProceso.EleccionValida ? 'color-ganador':'color-invalido'">
                                    <mat-card-content class="centered-total">
                                        <span> Elección {{detalleProceso.EleccionValida ? 'válida respecto al porcentaje de votantes' : 'NO válida respecto al porcentaje de votantes'}}</span>
                                    </mat-card-content>

                                </mat-card>
                            </div>


                            <div
                                    class="text-14 font-weight-bold "> Datos del Proceso Electoral
                            </div>
                            <mat-divider style="position: relative"></mat-divider>
                            <div
                                    fxLayoutAlign="start center"
                                    fxLayout="row wrap"
                                    class="mb-1"
                            >

                                <div
                                        fxFlex.gt-sm="33"
                                        fxFlex.lt-lg="50"
                                        fxFlex.lt-md="100"
                                >

                                    <mat-card class="redondear-esquinas" style="min-height: 80px"
                                              fxLayoutAlign="start center">
                                        <div class="card-title-text">
                                            <mat-icon class="mr-1">donut_small</mat-icon>
                                            <span class="text-14 text-muted mr-1">Número de Empadronados</span>
                                            <span fxFlex></span>
                                            <span class="text-18 font-weight-bold text-green">{{detalleProceso.NumeroEmpadronados}} </span>
                                        </div>
                                    </mat-card>
                                </div>

                                <div
                                        fxFlex.gt-sm="33"
                                        fxFlex.lt-lg="50"
                                        fxFlex.lt-md="100"

                                >

                                    <mat-card class="redondear-esquinas" style="min-height: 80px"
                                              fxLayoutAlign="start center">
                                        <div class="card-title-text">
                                            <mat-icon class="mr-1">donut_small</mat-icon>
                                            <span class="text-14 text-muted mr-1">Empadronados que Votaron</span>
                                            <span fxFlex></span>
                                            <span class="text-18 font-weight-bold text-green">{{detalleProceso.NumeroEmpadronadosVotaron}} </span>
                                        </div>
                                    </mat-card>
                                </div>

                                <div
                                        fxFlex.gt-sm="33"
                                        fxFlex.lt-lg="50"
                                        fxFlex.lt-md="100"
                                >

                                    <mat-card class="redondear-esquinas" style="min-height: 80px"
                                              fxLayoutAlign="start center">
                                        <div class="card-title-text">
                                            <div>
                                                <mat-icon class="mr-1">donut_small</mat-icon>
                                            </div>
                                            <span class="text-14 text-muted mr-1">Porcentaje Empadronados que Votaron</span>
                                            <span fxFlex></span>
                                            <span class="text-14 font-weight-bold text-green">{{detalleProceso.PorcentajeVotantes | number : '1.2-2'}}% </span>
                                        </div>
                                    </mat-card>
                                </div>

                                <div
                                        fxFlex.gt-sm="33"
                                        fxFlex.lt-lg="50"
                                        fxFlex.lt-md="100"
                                >

                                    <mat-card class="redondear-esquinas" style="min-height: 80px"
                                              fxLayoutAlign="start center">
                                        <div class="card-title-text">
                                            <div>
                                                <mat-icon class="mr-1">donut_small</mat-icon>
                                            </div>
                                            <span class="text-14 text-muted mr-1">Votos Pluripersonales Válidos</span>
                                            <span fxFlex></span>
                                            <span class="text-18 font-weight-bold text-green">{{detalleProceso.NumeroVotosPluriculturales}} </span>
                                        </div>
                                    </mat-card>
                                </div>

                                <div
                                        fxFlex.gt-sm="33"
                                        fxFlex.lt-lg="50"
                                        fxFlex.lt-md="100"
                                >

                                    <mat-card class="redondear-esquinas" style="min-height: 80px"
                                              fxLayoutAlign="start center">
                                        <div class="card-title-text">
                                            <div>
                                                <mat-icon class="mr-1">donut_small</mat-icon>
                                            </div>
                                            <span class="text-14 text-muted mr-1">Votos Blancos</span>
                                            <span fxFlex></span>
                                            <span class="text-18 font-weight-bold text-green">{{detalleProceso.NumeroVotosBlancos}}  </span>
                                        </div>
                                    </mat-card>
                                </div>

                                <div
                                        fxFlex.gt-sm="33"
                                        fxFlex.lt-lg="50"
                                        fxFlex.lt-md="100"
                                >

                                    <mat-card class="redondear-esquinas" style="min-height: 80px"
                                              fxLayoutAlign="start center">
                                        <div class="card-title-text">
                                            <div>
                                                <mat-icon class="mr-1">donut_small</mat-icon>
                                            </div>
                                            <span class="text-14 text-muted mr-1">Votos Nulos</span>
                                            <span fxFlex></span>
                                            <span class="text-18 font-weight-bold text-green">{{detalleProceso.NumeroVotosNulos}}  </span>
                                        </div>
                                    </mat-card>
                                </div>
                                <div
                                        fxFlex.gt-sm="33"
                                        fxFlex.lt-lg="50"
                                        fxFlex.lt-md="100"
                                >

                                    <mat-card class="redondear-esquinas" style="min-height: 80px"
                                              fxLayoutAlign="start center">
                                        <div class="card-title-text">
                                            <div>
                                                <mat-icon class="mr-1">donut_small</mat-icon>
                                            </div>
                                            <span class="text-14 text-muted mr-1">Cantidad de escaños a elegir:</span>
                                            <span fxFlex></span>
                                            <span class="text-18 font-weight-bold text-green">{{detalleProceso.CantidadEscaneos}}  </span>
                                        </div>
                                    </mat-card>
                                </div>
                            </div>

                            <div
                                    class="text-14 font-weight-bold mt-1"> Escaños por Lista
                            </div>
                            <mat-divider style="position: relative"></mat-divider>

                            <div
                                    fxLayoutAlign="start center"
                                    fxLayout="row wrap"
                                    class="mb-1"
                            >

                                <div
                                        fxFlex.gt-sm="33"
                                        fxFlex.lt-lg="50"
                                        fxFlex.lt-md="100"
                                        *ngFor="let lista of detalleProceso.DetallesListas"
                                >
                                    <mat-card class=" user-card p-0 redondear-esquinas" style="min-height: 80px"
                                              fxLayoutAlign="start center">
                                        <div class="card-title-text">
                                            <div class="mr-1">
                                                <img class="img-resumen-1" src="{{lista?.ImagenLista}}" alt="">
                                            </div>
                                            <span class="text-14 text-muted mr-1">Cantidad de Escaños "{{lista.NombreLista}}
                                                "</span>
                                            <span fxFlex></span>
                                            <span class="text-18 font-weight-bold text-green">{{lista.NumeroEscaniosAsignados}}  </span>
                                        </div>
                                    </mat-card>
                                </div>
                            </div>
                            <div
                                    *ngIf="detalleProceso.SuperaNumeroEscaneos"
                                    class="text-14 font-weight-bold mt-1"> Sugerencia Del Sistema:
                            </div>
                            <mat-divider *ngIf="detalleProceso.SuperaNumeroEscaneos"
                                         style="position: relative"></mat-divider>
                            <div class="centered-total full-width " *ngIf="detalleProceso.SuperaNumeroEscaneos">
                                <mat-card class=" centered-total color-empate">
                                    <mat-card-content class="centered-total">
                                        <span class="mr-1"><mat-icon>report_problem</mat-icon></span>
                                        <span class="font-big"> El método de asignación de escaños produjo una sobreasignación de {{detalleProceso.CantidadEscaniosSobrantes}}
                                            escaño(s), se suguiere realizar sorteo para eliminar dicha cantidad excesiva de escaños.
                                        </span>

                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div
                                    *ngIf="detalleProceso.EmpateDecimal"
                                    class="text-14 font-weight-bold mt-1"> Sugerencia Del Sistema:
                            </div>
                            <mat-divider *ngIf="detalleProceso.EmpateDecimal" style="position: relative"></mat-divider>
                            <div class="centered-total full-width " *ngIf="detalleProceso.EmpateDecimal">
                                <mat-card class=" centered-total color-empate">
                                    <mat-card-content class="centered-total">
                                        <span class="mr-1"><mat-icon>report_problem</mat-icon></span>
                                        <span class="font-big"> El método de asignación de escaños produjo un empate en la asignación de {{detalleProceso.CantidadEscaniosSobrantes}}
                                            escaño(s), se suguiere realizar un sorteo para asignar la cantidad de escaños faltante.
                                        </span>
                                    </mat-card-content>
                                </mat-card>
                            </div>

                            <div
                                    class="text-14 font-weight-bold mt-1"> Candidatos Ganadores Sugeridos por el sistema
                            </div>
                            <mat-divider style="position: relative"></mat-divider>
                            <div class="full-width centered-total">
                                <mat-card
                                        *ngIf="listaGanadores?.length > 0"
                                        fxLayoutAlign="start center"
                                        fxLayout="row wrap"
                                        class="mb-1 calculated"
                                >
                                    <div fxFlex="100">{{'Candidatos Ganadores: '}} <i
                                            class="material-icons"
                                            style="color:#6ddb91; transform: translateY(6px)">stop</i>
                                    </div>
                                    <div fxFlex="100">{{'Candidatos Empatados de la lista: '}} <i
                                            class="material-icons"
                                            style="color:#eead83; transform: translateY(6px)">stop</i>
                                    </div>
                                    <div fxFlex="100" class="mt-1"
                                         *ngFor="let lista of listaGanadores"
                                    >
                                        <div><strong>Candidatos: {{lista.NombreLista}}</strong></div>
                                        <mat-divider style="position: relative"></mat-divider>

                                        <mat-card
                                                *ngFor="let candidato of lista.ganadores"
                                                class=" user-card p-0 redondear-esquinas"
                                                [ngClass]="candidato.ganadorSugerido ? 'color-ganador' : candidato.ganadorSugeridoEmpate ? 'color-empate' : ''"
                                                style="min-height: 80px"
                                                fxLayoutAlign="center center"

                                        >
                                            <div class="card-title-text">
                                                <div class="mr-1">
                                                    <img class="img-resumen-1" src="{{candidato?.fotoUrl}}" alt="">
                                                </div>
                                                <span fxFlex></span>
                                                <span class="text-14 mr-1 font-weight-bold">
                                                    {{candidato.nombreCandidato}}
                                                </span>
                                            </div>
                                        </mat-card>
                                    </div>
                                </mat-card>
                            </div>
                            <div
                                    *ngIf="listaGanadoresNoCumplenMinimo?.length > 0"
                                    class="text-14 font-weight-bold mt-1"> Candidatos Ganadores sugeridos que no cumplen
                                el 20% mínimo de votos
                            </div>
                            <mat-divider *ngIf="listaGanadoresNoCumplenMinimo?.length > 0"
                                         style="position: relative"></mat-divider>
                            <div class="full-width centered-total">
                                <mat-card
                                        *ngIf="listaGanadoresNoCumplenMinimo?.length > 0"
                                        fxLayoutAlign="start center"
                                        fxLayout="row wrap"
                                        class="mb-1 calculated"
                                >
                                    <div fxFlex="100">{{'Candidatos ganadores sugeridos con votos inferiores al 20% de los empadronados: '}}
                                        <i
                                                class="material-icons"
                                                style="color:#cc0000; transform: translateY(6px)">stop</i>
                                    </div>
                                    <div fxFlex="100" class="mt-1"
                                         *ngFor="let lista of listaGanadoresNoCumplenMinimo"
                                    >
                                        <div><strong>Candidatos: {{lista.NombreLista}}</strong></div>
                                        <mat-divider style="position: relative"></mat-divider>

                                        <mat-card
                                                *ngFor="let candidato of lista.ganadores"
                                                class=" user-card p-0 redondear-esquinas"
                                                [ngClass]="candidato.elegible ? 'color-ganador' : 'color-invalido'"
                                                style="min-height: 80px"
                                                fxLayoutAlign="center center"

                                        >
                                            <div class="card-title-text">
                                                <div class="mr-1">
                                                    <img class="img-resumen-1" src="{{candidato?.fotoUrl}}" alt="">
                                                </div>
                                                <span fxFlex></span>
                                                <span class="text-14 mr-1 font-weight-bold">
                                                    {{candidato.nombreCandidato}}
                                                </span>
                                            </div>
                                        </mat-card>
                                    </div>
                                </mat-card>
                            </div>

                            <div
                                    class="text-14 font-weight-bold mt-1"> Resumen por Listas
                            </div>
                            <mat-divider style="position: relative"></mat-divider>
                            <div class="full-width centered-total">
                                <mat-card class="redondear-esquinas ">
                                    <div class="m-1"><strong class="mr-1"> Cantidad de Escaños Disponibles
                                        :</strong> {{detalleProceso.CantidadEscaneos}}</div>
                                    <div class="m-1"><strong class="mr-1"> Escaños Obtenidos por Lista:</strong>
                                    </div>
                                    <div style="overflow: auto">
                                        <table class="m-1">
                                            <tr>
                                                <th></th>
                                                <th *ngFor="let lista of detalleProceso.DetallesListas"
                                                    class="titulo p-1">{{lista.NombreLista}}</th>

                                            </tr>
                                            <tr>
                                                <td class="p-1"><strong class="mr-1">Cantidad de Votos:</strong>
                                                </td>
                                                <td *ngFor="let lista of detalleProceso.DetallesListas"
                                                    class="p-1 font-big font-weight-bold">{{lista.CantidadVotosLista  }}</td>
                                            </tr>
                                            <tr>
                                                <td class="p-1"><strong class="mr-1">Escaños Asignados:</strong>
                                                </td>
                                                <td *ngFor="let lista of detalleProceso.DetallesListas"
                                                    class="p-1 font-big font-weight-bold">{{lista.NumeroEscaniosAsignados  }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </mat-card>
                            </div>

                        </mat-expansion-panel>
                    </mat-accordion>
                    <br>
                    <mat-accordion>
                        <mat-expansion-panel class="grey-card">
                            <mat-expansion-panel-header>
                                <label class="label-2"> Detalle </label>
                            </mat-expansion-panel-header>
                            <div class="font-weight-bold p-1"> Detalle por Lista</div>
                            <mat-divider style="position: relative"></mat-divider>
                            <div>
                                <div fxLayout="row wrap" fxLayout.lt-sm="column"
                                     class="full-width centered-total"
                                     *ngFor="let lista of detalleProceso.DetallesListas">
                                    <div fxFlex.gt-md="60" fxFlex="100" class="full-width">
                                        <mat-card class="redondear-esquinas">
                                            <mat-card-content>
                                                <div fxLayout="row wrap" class="full-width">
                                                    <div fxFlex="50" fxLayoutAlign="end end"
                                                         class="font-weight-bold p-1 font-big">{{lista.NombreLista}} </div>
                                                    <div fxFlex="50" fxLayoutAlign="start end">
                                                        <img fxLayoutAlign="center end" class="img-resumen p-1"
                                                             src="{{lista.ImagenLista}}"
                                                             alt="">
                                                    </div>
                                                </div>

                                                <mat-divider class="divider mb-1"></mat-divider>
                                                <div fxLayout="row wrap" fxLayout.lt-sm="column" class="ml-1 mb-1"
                                                     *ngFor="let candidato of lista.Candidatos">
                                                    <div fxFlex="100">
                                                        <div fxLayout="row wrap" fxLayout.lt-md="column">
                                                            <div fxFlex="40">
                                                                <ng-container
                                                                        *ngTemplateOutlet=" fotoCandidato;context:{tipo:'Principal', fotoUrl: candidato.fotoUrl, aplicaAlterno: detalleProceso.AplicaAlterno}">
                                                                </ng-container>
                                                            </div>
                                                            <div fxFlex="40" *ngIf="detalleProceso.AplicaAlterno">
                                                                <ng-container
                                                                        *ngTemplateOutlet="fotoCandidato;context:{tipo:'Alterno', fotoUrl: candidato.fotoUrlAlterno,aplicaAlterno: detalleProceso.AplicaAlterno}">
                                                                </ng-container>
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div fxFlex="100">
                                                        <div><strong
                                                                class="mr-1">Candidato: </strong>{{candidato.nombreCandidato}}
                                                        </div>
                                                        <div *ngIf="detalleProceso.AplicaAlterno && candidato.nombreCandidatoAlterno">
                                                            <strong class="mr-1">Alterno: </strong>{{candidato.nombreCandidatoAlterno}}
                                                        </div>
                                                    </div>
                                                    <div fxFlex="100">
                                                        <div><strong class="mr-1">Cantidad de
                                                            Votos: </strong>{{candidato.cantidadVotosPersonales}}
                                                        </div>
                                                        <div><strong class="mr-1">Ganador
                                                            Sugerido:</strong>
                                                            <mat-chip class="chip-e"
                                                                      [ngClass]="candidato.ganadorSugerido? 'color-ganador': candidato.ganadorSugeridoEmpate? 'color-empate' :'color-invalido' "
                                                            >{{candidato.ganadorSugerido ? 'SI' : candidato.ganadorSugeridoEmpate ? 'EMPATE' : 'NO'}}</mat-chip>
                                                        </div>
                                                        <div><strong class="mr-1">Candidato
                                                            elegible respecto al porcentaje de votos:</strong>
                                                            <mat-chip class="chip-e"
                                                                      [ngClass]="candidato.elegible ? 'color-ganador':'color-invalido' "
                                                            >{{candidato.elegible ? 'SI' : 'NO'}}</mat-chip>
                                                        </div>
                                                        <div><strong class="mr-1">Porcentaje de votos con respecto al
                                                            número de empadronados
                                                        </strong>{{candidato.porcentajeEmpadronadosVotaron | number : '1.2-2'}}
                                                            %
                                                        </div>

                                                    </div>
                                                    <div fxFlex="100">
                                                        <br>
                                                        <mat-divider></mat-divider>
                                                        <br>
                                                    </div>

                                                </div>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>
                            <div class="font-weight-bold p-1"> Detalle Método de Asignación de Escaños
                            </div>
                            <mat-divider style="position: relative"></mat-divider>
                            <div class="full-width centered-total">
                                <mat-card class="redondear-esquinas">
                                    <div class="m-1" style="text-align: center"><strong class="mr-1"> Método de
                                        cifra
                                        repartidora</strong></div>
                                    <div class="m-1"><strong class="mr-1"> Votos:</strong></div>
                                    <div style="overflow: auto">
                                        <table class="m-1">
                                            <tr>
                                                <th></th>
                                                <th *ngFor="let lista of detalleProceso.DetallesListas"
                                                    class="titulo p-1">{{lista.NombreLista}}</th>
                                            </tr>
                                            <tr>
                                                <td class="p-1"><strong class="mr-1">Cantidad de Votos:</strong>
                                                </td>
                                                <td *ngFor="let lista of detalleProceso.DetallesListas"
                                                    class="p-1 font-big font-weight-bold">{{lista.CantidadVotosLista  }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="m-1"><strong class="mr-1"> Cocientes parciales:</strong></div>
                                    <div class="m-1">{{' los cocientes de color verde'}} <i
                                            class="material-icons"
                                            style="color:#6ddb91; transform: translateY(6px)">stop</i> {{'son aquellos que se asignaron un escaño'}}
                                    </div>
                                    <div class="m-1">{{' los cocientes de color naranja'}} <i
                                            class="material-icons"
                                            style="color:#eead83; transform: translateY(6px)">stop</i> {{'son aquellos que empataron en la asignación de escaños'}}
                                    </div>
                                    <div style="overflow: auto">
                                        <table class="m-1">
                                            <tr>
                                                <th></th>
                                                <th class="titulo p-1" *ngFor="let divisor of divisibles">
                                                    /{{divisor}}
                                                </th>
                                                <th class="titulo p-1"> Escaños Asignados</th>
                                                <th class="titulo p-1"> Cantidad Votos / Cifra Repartidora</th>
                                            </tr>
                                            <tr *ngFor="let lista of detalleProceso.DetallesListas">
                                                <th
                                                        class="titulo p-1">{{lista.NombreLista}}</th>
                                                <th *ngFor="let coeficiente of lista.Coeficientes"
                                                    class="titulo p-1"
                                                    [ngClass]="coeficiente.Ganador ? 'coeficiente-ganador': coeficiente.GanadorFaltante?'coeficiente-empate':''">{{coeficiente.Coeficiente | number :'1.2-2'}}</th>
                                                <th
                                                        class="titulo p-1">{{lista.NumeroEscaniosAsignados}}</th>
                                                <th
                                                        class="titulo p-1">{{lista.NumeroEscaniosAsignadosSuma | number :'1.2-2'}}</th>
                                            </tr>
                                            <tr>
                                                <th
                                                        class="titulo p-1">Cifra Repartidora
                                                </th>
                                                <th
                                                        class="titulo p-1">
                                                    {{detalleProceso.cifraRepartidora | number: '1.2-2'}}</th>
                                            </tr>
                                        </table>
                                    </div>
                                </mat-card>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <br>
                </div>

            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>


<ng-template #fotoCandidato let-tipo="tipo" let-fotoUrl="fotoUrl" let-aplicaAlterno="aplicaAlterno">
    <label *ngIf="aplicaAlterno" style="display: block"> {{tipo}}</label>
    <img class="img-resumen-1" src="{{fotoUrl}}"
         alt="">
</ng-template>
