@import "../../../../../assets/styles/evote-style/common";


.mat-card-header-style{
  height: 50px;
}

.mat-card-style{
  padding:0 !important;
}

.mat-card-content{
  padding:10px !important;
}
.mat-card-content .process{
  padding:20px !important;
}
.red-card
{
  background-color: #e6e6e6;
  color: black;
}
.red-card:hover
{
  background: linear-gradient(to right, #d75151,#d75151, white);
  color: white;
  transform: scale(1.025);
  cursor: pointer;
}
.red-card-2
{
  background: linear-gradient(to right, #d75151,#d75151, orange);
  color: white;
}

.font-big
{
  font-size: 18px;
}
.mate-blue
{
  background: linear-gradient(to right, #182370, #212e9f, #2b3dd6, #3649f3);
  color:white;
}
.img-resumen
{
  max-width: 10vh;
  max-height: 10vh;
}
.img-resumen-1
{
  max-width: 8vh;
  max-height: 8vh;
  width: 8vh;
  height: 8vh;
  border-radius: 30%;
}
.divider
{
  position: relative !important;
}
table, th, td {
  border: 1px solid #bcbcbc;
  border-collapse: collapse;
}
.card-resumen
{
  width: 80%;
}
.width-80
{
  width:80% !important;
}
.progress
{
  height: 35px;
}
.grey-card
{
  background-color: #f5f5f5;
  color: black;
}
.full-width
{
  width: 100% !important;
}

.texted{
  white-space: break-spaces !important;
  overflow: hidden;
  text-overflow: ellipsis !important;
}

.coeficiente-ganador
{
  background-color: #6ddb91;
}


.coeficiente-empate
{
  background-color: #eead83;
}


.color-ganador
{
  background-color: #6ddb91 !important;
}
.color-ganador1
{
  background-color: #81ffaa !important;
}


.color-empate
{
  background-color: #eead83 !important;
}

.color-invalido
{
  background-color: #cc0000 !important;
  color: white !important;
}

//Para redondear los cards
.redondear-esquinas{
  border-radius: 15px;
}

.calculated{
  width: 350px;
}
.chip-e{
padding: 2px 30px !important;
}


.aligned{
  text-align: center;
}
.mt-1
{
  margin-top: 1vh;
}
.text-green
{
  color: #42a76b;
}
.width-50
{
  width: 50vh;
}
//-----------------------------------------
.pd-05
{
  padding:0px 5px;
}
