<mat-tab-group
        [backgroundColor]="'accent'"
        class="border"
>
    <mat-tab>
        <mat-card class="border">
            <form
                    (ngSubmit)="getRoles()"
            >
                <mat-card-header class="grey-100">
                    <div fxLayout="row"
                         fxLayoutAlign="start center"
                    >
                        Búsquedas
                    </div>
                </mat-card-header>

                <mat-card-content>
                    <div fxFlex="40" class="mr-12">
                        <label class="label-1">Nombre Rol</label>
                        <mat-form-field appearance="outline" class="full-width">
                            <input
                                    autocomplete="off"
                                    matInput
                                    type="text"
                                    [formControl]="itemForm.controls['nombreRol']"
                            />
                            <!--  [formControl]="itemForm.controls['nombreEscanio']"-->
                        </mat-form-field>

                    </div>

                    <div class="mr-12 full-width">
                        <label class="label-1">Estado</label>
                        <app-estado
                                [(cntrl)]="itemForm.controls['estado']">
                        </app-estado>
                    </div>


                    <div>
                        <div
                                fxLayout="row"
                                fxLayout.lt-sm="column"
                                class="mt-24"
                        >
                            <button
                                    class="full-width mr-12"
                                    type="submit"
                                    mat-raised-button
                                    color="primary"

                            >
                                <mat-icon>search</mat-icon>
                                <!--                        <label>Buscar</label>-->
                            </button>
                            <button
                                    class="full-width mr-12"
                                    (click)="buildItemForm()"
                                    type="button"
                                    mat-raised-button
                                    color="warn"
                            >
                                <mat-icon>delete_sweep</mat-icon>
                                <!--                        <label>Limpiar</label>-->
                            </button>

                        </div>
                    </div>

                </mat-card-content>


            </form>
        </mat-card>
        <ng-template mat-tab-label>
            <mat-icon class=" mr-16">format_list_numbered</mat-icon>
            Permisos Menú
        </ng-template>
        <mat-card>
            <mat-card-header class="grey-100">
                <div fxLayout="row"
                     fxLayoutAlign="start center"
                >
                    Lista de Roles
                </div>
            </mat-card-header>
            <mat-card-content>
                <ngx-datatable
                        class="material"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="80"
                        [limit]="10"
                        [scrollbarH]="true"
                        [rows]="lsRoles"
                >
                    <ngx-datatable-column name="Rol" [flexGrow]="1">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            {{ row.nombreRol }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Permiso Módulos" [flexGrow]="1">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <mat-form-field appearance="fill">
                                <mat-label>Módulos</mat-label>
                                <mat-select multiple [compareWith]="compareFn" [(ngModel)]="row.recursos" >
                                    <mat-option *ngFor="let recurso of lsModulos"
                                                [value]="recurso">{{recurso.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Acciones" [flexGrow]="1">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <button mat-raised-button
                                    color="primary"
                                    class="mr-1"
                                    (click)="Guardar(row)"
                            >
                                <mat-icon>save</mat-icon>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab>
        <mat-card class="border">
            <form
                    (ngSubmit)="getRoles(true)"
            >
                <mat-card-header class="grey-100">
                    <div fxLayout="row"
                         fxLayoutAlign="start center"
                    >
                        Búsquedas
                    </div>
                </mat-card-header>

                <mat-card-content>
                    <div fxFlex="40" class="mr-12">
                        <label class="label-1">Nombre Rol</label>
                        <mat-form-field appearance="outline" class="full-width">
                            <input
                                    autocomplete="off"
                                    matInput
                                    type="text"
                                    [formControl]="itemFormRuta.controls['nombreRol']"
                            />
                            <!--  [formControl]="itemForm.controls['nombreEscanio']"-->
                        </mat-form-field>

                    </div>

                    <div class="mr-12 full-width">
                        <label class="label-1">Estado</label>
                        <app-estado
                                [(cntrl)]="itemFormRuta.controls['estado']">
                        </app-estado>
                    </div>


                    <div>
                        <div
                                fxLayout="row"
                                fxLayout.lt-sm="column"
                                class="mt-24"
                        >
                            <button
                                    class="full-width mr-12"
                                    type="submit"
                                    mat-raised-button
                                    color="primary"

                            >
                                <mat-icon>search</mat-icon>
                                <!--                        <label>Buscar</label>-->
                            </button>
                            <button
                                    class="full-width mr-12"
                                    (click)="buildItemFormRuta()"
                                    type="button"
                                    mat-raised-button
                                    color="warn"
                            >
                                <mat-icon>delete_sweep</mat-icon>
                                <!--                        <label>Limpiar</label>-->
                            </button>

                        </div>
                    </div>

                </mat-card-content>


            </form>
        </mat-card>
        <ng-template mat-tab-label>
            <mat-icon class=" mr-16">format_list_numbered</mat-icon>
            Permisos Rutas
        </ng-template>
        <mat-card>
            <mat-card-header class="grey-100">
                <div fxLayout="row"
                     fxLayoutAlign="start center"
                >
                    Lista de Roles
                </div>
            </mat-card-header>
            <mat-card-content>
                <ngx-datatable
                        class="material"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="80"
                        [limit]="10"
                        [scrollbarH]="true"
                        [rows]="lsRolesB"
                >
                    <ngx-datatable-column name="Rol" [flexGrow]="1">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            {{ row.nombreRol }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Permiso Rutas" [flexGrow]="1">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <mat-form-field appearance="fill">
                                <mat-label>Módulos</mat-label>
                                <mat-select multiple [compareWith]="compareFn" [(ngModel)]="row.recursos" >
                                    <mat-option *ngFor="let recurso of lsRutas"
                                                [value]="recurso">{{recurso.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Acciones" [flexGrow]="1">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <button mat-raised-button
                                    color="primary"
                                    class="mr-1"
                                    (click)="Guardar(row, true)"
                            >
                                <mat-icon>save</mat-icon>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group>

