@import "../../../../../assets/styles/evote-style/common";

// Estilos para la cabecera del mat-card
// INICIO
.mat-card-header{
  height: 50px;
}

.mat-card{
  padding:0 !important;

}

.mat-card-content{
  padding:10px !important;
}
//FIN
