<mat-card>
    <mat-card-header style="background-color: #2A314B; color: white">
        <div fxLayout="row"
             fxLayoutAlign="start center"
        >
            <h3> Catálogo de personas </h3>
        </div>
    </mat-card-header>
    <mat-card-content style="padding: 0px">
        <mat-card>
            <mat-card-header class="grey-100">
                <div fxLayout="row"
                     fxLayoutAlign="start center"
                >
                    Búsquedas
                </div>
            </mat-card-header>
            <mat-card-content>
                <form
                        (ngSubmit)="buscar()"
                >
                    <div
                            fxLayout="row"
                            fxLayout.lt-md="column"
                    >


                        <div fxFlex="40" class="mr-12">
                            <label> Elija parámetro de búsqueda</label>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-select
                                        id="sltEstadoPersona"
                                        name="sltEstadoPersona"

                                        (selectionChange)="this.itemForm.reset();"
                                        [(value)]="parametroDeBusquedaSeleccionado"
                                >
                                    <mat-option *ngFor="let opcion of opcionesDeBusqueda"
                                                [value]="opcion.id"
                                    > {{opcion.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>

                        <div class="mr-12 full-width" *ngIf="!parametroDeBusquedaSeleccionado">
                            <label> -</label>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-select
                                        id="sltDisable"
                                        name="sltDisable"
                                        disabled
                                        placeholder="Deshabilitado"
                                >

                                </mat-select>
                            </mat-form-field>
                        </div>

                        <!--                        <div  class="mr-12 full-width" *ngIf="parametroDeBusquedaSeleccionado == 'ANIO' ">-->
                        <!--                            <label> </label>-->
                        <!--                            <app-select-anio-->
                        <!--                                    [(cntrl)]="itemForm.controls['anioSeleccionado']"-->
                        <!--                            >-->
                        <!--                            </app-select-anio>-->
                        <!--                        </div>-->

                        <div class="mr-12 full-width" *ngIf="parametroDeBusquedaSeleccionado == 'NOMBRE' ">
                            <label> Nombre de la persona</label>
                            <mat-form-field appearance="outline" class="full-width">
                                <input
                                        autocomplete="off"
                                        matInput
                                        type="text"
                                        [formControl]="itemForm.controls['nombrePersona']"
                                />
                            </mat-form-field>
                        </div>

                        <div class="mr-12 full-width" *ngIf="parametroDeBusquedaSeleccionado == 'IDENTIFICACION' ">
                            <label> Identificación de la persona</label>
                            <mat-form-field appearance="outline" class="full-width">
                                <input
                                        autocomplete="off"
                                        matInput
                                        type="text"
                                        [formControl]="itemForm.controls['identificacionPersona']"
                                />
                            </mat-form-field>
                        </div>

                        <div class="mr-12 full-width" *ngIf="parametroDeBusquedaSeleccionado == 'EMAIL' ">
                            <label> Correo de la persona</label>
                            <mat-form-field appearance="outline" class="full-width">
                                <input
                                        autocomplete="off"
                                        matInput
                                        type="text"
                                        [formControl]="itemForm.controls['emailPersona']"
                                />
                            </mat-form-field>
                        </div>

                        <div class="mr-12 full-width" *ngIf="parametroDeBusquedaSeleccionado == 'ESTADO' ">
                            <label> Activo / Inactivo</label>
                            <app-estado
                                    [(cntrl)]="itemForm.controls['estado']"
                            ></app-estado>
                        </div>


                        <div>
                            <div
                                    fxLayout="row"
                                    fxLayout.lt-sm="column"
                                    class="mt-24"
                            >
                                <button
                                        class="full-width mr-12"
                                        type="submit"
                                        mat-raised-button
                                        color="primary"

                                >
                                    <mat-icon>search</mat-icon>
                                    <!--                        <label>Buscar</label>-->
                                </button>
                                <button
                                        class="full-width mr-12"
                                        (click)=limpiar()
                                        type="button"
                                        mat-raised-button
                                        color="warn"
                                >
                                    <mat-icon>delete_sweep</mat-icon>
                                    <!--                        <label>Limpiar</label>-->
                                </button>

                            </div>
                        </div>
                    </div>

                </form>

            </mat-card-content>
        </mat-card>


        <mat-card>

            <mat-card-header class="grey-100">
                <div fxLayout="row"
                     fxLayoutAlign="start center"
                >
                    Lista de personas
                </div>
            </mat-card-header>

            <mat-card-content>
                <button
                        (click)="openPoup({},true)"
                        class=" green-A700 "
                        type="button"
                        mat-raised-button
                        style="color: white"
                >

                    <mat-icon>note_add</mat-icon>
                    <label>Nuevo</label>

                </button>

                <ngx-datatable
                        class="material full-width"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="50"
                        [limit]="10"
                        [rows]="listaPersonas"
                        [scrollbarH]="true"
                        [externalPaging]="true"
                        [scrollbarV]="false"
                        (page)="setPage($event)"
                        [offset]="paginaSeleccionada"
                        [count]="totalRegistros"
                >


                    <ngx-datatable-column name="Nombres" [flexGrow]="50">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            {{ row.nombreUno + ' ' + row.nombreDos }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Apellidos" [flexGrow]="50">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            {{ row.apellidoUno + ' ' + row.apellidoDos }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Identificación" [flexGrow]="50">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            {{ row.dt1 }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Teléfono" [flexGrow]="40">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            {{ row.telefonoUno }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Correo" [flexGrow]="40">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            {{ row.email }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Estado" maxWidth="100">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <mat-chip *ngIf="row.estado == 'ACTIVO' "
                                      mat-sm-chip
                                      [color]="'primary'"
                                      [selected]=true>
                                {{row.estado}}
                            </mat-chip>

                            <mat-chip *ngIf="row.estado == 'INACTIVO' "
                                      mat-sm-chip
                                      [color]="'primary'"
                                      [selected]=false>
                                {{row.estado}}
                            </mat-chip>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Acciones" maxWidth="120">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <button *ngIf="row.estado=='ACTIVO'" mat-icon-button mat-sm-button color="primary"
                                    class="mr-1" (click)="openPoup(row,false)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button *ngIf="row.estado=='ACTIVO'" mat-icon-button mat-sm-button color="warn" class="mr-1"
                                    (click)="deleteItem(row)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button *ngIf="row.estado=='INACTIVO'" mat-icon-button mat-sm-button color="primary"
                                    class="mr-1" (click)="habilitarItem(row)">
                                <mat-icon>beenhere</mat-icon>
                                <span>Reactivar</span>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>

            </mat-card-content>

        </mat-card>

    </mat-card-content>
</mat-card>

