<mat-card>
    <mat-card-header style="background-color: #2A314B; color: white">
        <div fxLayout="row"
             fxLayoutAlign="start center"
        >
            <h3> Elecciones en las que has participado</h3>
        </div>
    </mat-card-header>
    <mat-card-content style="padding: 0px">
        <mat-card>
        <mat-card-header class="grey-100">
            <div fxLayout="row"
                 fxLayoutAlign="start center"
            >
                Búsquedas
            </div>
        </mat-card-header>
        <mat-card-content>
            <form
                    (ngSubmit)="getItems()"
            >
                <div
                        fxLayout="row"
                        fxLayout.lt-md="column"
                >


                    <div fxFlex="40" class="mr-12">
                        <label> Elija parámetro de búsqueda</label>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-select
                                    id="sltEstadoPersona"
                                    name="sltEstadoPersona"

                                    (selectionChange)="this.itemForm.reset();"
                                    [(value)]="parametroDeBusquedaSeleccionado"
                            >
                                <mat-option *ngFor="let opcion of opcionesDeBusqueda"
                                            [value]="opcion.id"
                                > {{opcion.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                    <div class="mr-12 full-width" *ngIf="!parametroDeBusquedaSeleccionado" >
                        <label> -</label>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-select
                                    id="sltDisable"
                                    name="sltDisable"
                                    disabled
                                    placeholder="Deshabilitado"
                            >

                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div  class="mr-12 full-width" *ngIf="parametroDeBusquedaSeleccionado == 'ANIO' ">
                        <label> Elija el año</label>
                        <app-select-anio
                                [(cntrl)]="itemForm.controls['anioSeleccionado']"
                        >
                        </app-select-anio>
                    </div>

                    <div class="mr-12 full-width" *ngIf="parametroDeBusquedaSeleccionado == 'NOMBRE' " >
                        <label> Nombre del proceso electoral</label>
                        <mat-form-field appearance="outline" class="full-width">
                            <input
                                    autocomplete="off"
                                    matInput
                                    type="text"
                                    [formControl]="itemForm.controls['nombreProcesoElectoral']"
                            />
                        </mat-form-field>
                    </div>

                    <div class="mr-12 full-width" *ngIf="parametroDeBusquedaSeleccionado == 'ESTADO' " >
                        <label> Activo / Inactivo</label>
                        <app-estado
                                [(cntrl)]="itemForm.controls['estado']"
                        ></app-estado>
                    </div>


                    <div >
                        <div
                                fxLayout="row"
                                fxLayout.lt-sm="column"
                                class="mt-24"
                        >
                            <button
                                    class="full-width mr-12"
                                    type="submit"
                                    mat-raised-button
                                    color="primary"

                            >
                                <mat-icon>search</mat-icon>
                                <!--                        <label>Buscar</label>-->
                            </button>
                            <button
                                    class="full-width mr-12"
                                    (click)=limpiar()
                                    type="button"
                                    mat-raised-button
                                    color="warn"
                            >
                                <mat-icon>delete_sweep</mat-icon>
                                <!--                        <label>Limpiar</label>-->
                            </button>

                        </div>
                    </div>
                </div>

            </form>

        </mat-card-content>
        </mat-card>


        <mat-card>

            <mat-card-header class="grey-100">
                <div fxLayout="row"
                     fxLayoutAlign="start center"
                >
                    Lista de procesos electorales
                </div>
            </mat-card-header>
            <mat-card-content>

                <ngx-datatable
                        class="material full-width"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="60"
                        [limit]="10"
                        [rows]="procesosElectorales"
                        [scrollbarH]="true"
                >
                    <ngx-datatable-column name="Verificar voto" [flexGrow]="10">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <button *ngIf="row.estado=='ACTIVO'" mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUpVerificarVoto(row)">
                                <mat-icon class="eye-icon">remove_red_eye</mat-icon>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column  name="Eleccion" [flexGrow]="50">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            {{ row.nombreEleccion }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Tipo" [flexGrow]="10">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            {{ row.tipoEleccion }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Nombre Proceso Electoral" [flexGrow]="50">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            {{ row.nombreProcesoElectoral }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Fecha efectuada" [flexGrow]="40">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <div fxFlex="35">
                                <spanp class="text-muted" > Inicio : {{row.fechaInicio | date: "dd/MMM/yy hh:mm a"}} </spanp>
                                <br>
                                <spanp class="text-muted"> Cierre : {{row.fechaFin | date: "dd/MMM/yy hh:mm a"}} </spanp>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Estado" [flexGrow]="20">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <div style="color:{{row.color}}">
                                    <h3>{{row.estadoProceso}}</h3>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>

            </mat-card-content>

        </mat-card>

       </mat-card-content>
</mat-card>
