@import "../../../../../../assets/styles/evote-style/common";

// Estilos para la cabecera del mat-card
// INICIO
.mat-card-header{
  height: 50px;
}

.mat-card{
  padding:0 !important;

}

.mat-card-content{
  padding:10px !important;
}
//FIN

::ng-deep .custom-style{
  background-color:brown;
  color:white;
}


.eye-icon{
  height:48px !important;
  width:48px !important;
  font-size:48px !important;
}

.negrita {
  font-weight: bold;
}
