<h4 matDialogTitle>{{data.title}}</h4>
<form (ngSubmit)="this.dialogRef.close(itemForm.value)">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
        <div fxFlex="100">
            <label class="label-1">Nombre Escaño</label>
            <mat-form-field appearance="outline" class="full-width">
<!--                <input-->
<!--                        style="text-transform: uppercase"-->
<!--                        (change)="itemForm.patchValue({nombreEscanio: $event?.target?.value.toUpperCase()})"-->
<!--                        autocomplete="off"-->
<!--                        matInput-->
<!--                        type="text"-->
<!--                        [formControl]="itemForm.controls['nombreEscanio']"-->
<!--                />-->

                <textarea
                        style="text-transform: uppercase"
                        (change)="itemForm.patchValue({nombreEscanio: $event?.target?.value.toUpperCase()})"
                        cdkTextareaAutosize
                        matInput
                        oninput="this.value = this.value.toUpperCase()"
                        cdkAutosizeMinRows="2"
                        [formControl]="itemForm.controls['nombreEscanio']"
                >

                                    </textarea>
            </mat-form-field>
        </div>
        <div fxFlex="100" class="mt-1">
            <button
                    type="submit"
                    mat-raised-button
                    color="primary"
            >
                <mat-icon>save</mat-icon>
                Guardar
            </button>
            <span fxFlex></span>
            <!--            (click)="dialogRef.close(null)"-->
            <button
                    (click)="dialogRef.close(null)"
                    type="button"
                    mat-button
                    color="warn"
            >
                <mat-icon>clear</mat-icon>
                Cancelar
            </button>
        </div>
    </div>


</form>

