<h4 matDialogTitle>{{data.title}}</h4>
<form (ngSubmit)="this.dialogRef.close(itemForm.getRawValue())">
    <div fxLayout="row wrap" fxLayout.lt-sm="column" >
        <div fxFlex="100">
            <label class="label-1">Nombre Elección</label>
            <mat-form-field appearance="outline" class="full-width">
<!--                <input-->
<!--                        autocomplete="off"-->
<!--                        matInput-->
<!--                        type="text"-->
<!--                        style="text-transform: uppercase"-->
<!--                        (change)="itemForm.patchValue({nombreEleccion: $event?.target?.value.toUpperCase()})"-->
<!--                        [formControl]="itemForm.controls['nombreEleccion']"-->
<!--                />-->

                <textarea
                        autocomplete="off"
                        style="text-transform: uppercase"
                        (change)="itemForm.patchValue({nombreEleccion: $event?.target?.value.toUpperCase()})"
                        cdkTextareaAutosize
                        matInput
                        cdkAutosizeMinRows="2"
                        [formControl]="itemForm.controls['nombreEleccion']"
                        maxlength="300"
                >

                                    </textarea>
            </mat-form-field>
        </div>
        <div fxFlex="100">

            <label class="label-1">Tipo Elección</label>
            <mat-form-field appearance="outline" class="full-width">
                <mat-select
                        [formControl]="itemForm.controls['tipoEleccionId']"
                >
                    <mat-option *ngFor="let eleccion of lsTipoEleccion"
                                [value]="eleccion.id"> {{eleccion.nombreTipoEleccion}}</mat-option>

                </mat-select>
            </mat-form-field>

        </div>
        <div fxFlex="100" *ngIf="esPluripersonal">
            <label class="label-1">Nombre Escaño</label>
            <mat-form-field appearance="outline" class="full-width">
                <input
                        style="text-transform: uppercase"
                        (change)="itemForm.patchValue({etiquetaEscanios: $event?.target?.value.toUpperCase()})"
                        autocomplete="off"
                        matInput
                        type="text"
                        [formControl]="itemForm.controls['etiquetaEscanios']"
                />
            </mat-form-field>
        </div>
        <div fxFlex="100" *ngIf="esPluripersonal">
            <label class="label-1">Cantidad de Escaños</label>
            <mat-form-field appearance="outline" class="full-width">
                <input
                        autocomplete="off"
                        matInput
                        type="text"
                        (keypress)="util.soloNumeros($event)"
                        [formControl]="itemForm.controls['cantidadEscanios']"
                />
            </mat-form-field>
        </div>
        <div fxFlex="100" class="mt-1" *ngIf="itemForm?.controls['tipoEleccionId']?.value && mostrarAplicas">
            <mat-checkbox class="mb-1"
                          [formControl]="itemForm.controls['aplicaAlterno']"
            >Aplica Candidato Alterno</mat-checkbox
            >
        </div>
        <div fxFlex="100" class="mt-1" *ngIf="!esPluripersonal && itemForm?.controls['tipoEleccionId']?.value && mostrarAplicas ">
            <mat-checkbox class="mb-1"
                          [formControl]="itemForm.controls['aplicaAlicuota']"
            >Aplica Alicuota Cargo</mat-checkbox
            >
        </div>
        <div fxFlex="100" class="mt-1">
            <button
                    [disabled]="itemForm.invalid"
                    type="submit"
                    mat-raised-button
                    color="primary"
            >
                <mat-icon>save</mat-icon>
                Guardar
            </button>


            <span fxFlex></span>
            <!--            (click)="dialogRef.close(null)"-->
            <button
                    (click)="dialogRef.close(null)"
                    type="button"
                    mat-button
                    color="warn"
            >
                <mat-icon>clear</mat-icon>
                Cancelar
            </button>
        </div>
    </div>


</form>
