<mat-tab-group
        [backgroundColor]="'accent'"
        [selectedIndex]="tabSelected.value"
        (selectedIndexChange)="tabSelected.setValue($event)"
        (selectedTabChange)="onTabChange($event)"
        class="border"

>
    <mat-tab>
        <mat-card class="border">

                <!--            (ngSubmit)="getItems()">-->

                <mat-card-header class="grey-100">
                    <div fxLayout="row"
                         fxLayoutAlign="start center"
                    >
                        Búsquedas
                    </div>
                </mat-card-header>

                <mat-card-content>
                    <form
                            (ngSubmit)="submit()"
                    >
                        <div
                                fxLayout="row"
                                fxLayout.lt-md="column"
                        >

                            <div fxFlex="40" class="mr-12">
                                <label class="label-1">Nombre Elección</label>
                                <mat-form-field appearance="outline" class="full-width">
                                    <input
                                            autocomplete="off"
                                            matInput
                                            type="text"
                                            [formControl]="itemForm.controls['nombreEleccion']"
                                    />
                                    <!--  [formControl]="itemForm.controls['nombreEscanio']"-->
                                </mat-form-field>

                            </div>

                            <div class="mr-12 full-width">
                                <label class="label-1">Estado</label>
                                <app-estado
                                        [(cntrl)]="itemForm.controls['estado']">
                                </app-estado>
                            </div>


                            <div>
                                <div
                                        fxLayout="row"
                                        fxLayout.lt-sm="column"
                                        class="mt-24"
                                >
                                    <button
                                            class="full-width mr-12"
                                            type="submit"
                                            mat-raised-button
                                            color="primary"

                                    >
                                        <mat-icon>search</mat-icon>
                                        <!--                        <label>Buscar</label>-->
                                    </button>
                                    <button
                                            class="full-width mr-12"
                                            (click)="itemForm.reset()"
                                            type="button"
                                            mat-raised-button
                                            color="warn"
                                    >
                                        <mat-icon>delete_sweep</mat-icon>
                                        <!--                        <label>Limpiar</label>-->
                                    </button>

                                </div>
                            </div>
                        </div>



                    </form>
                </mat-card-content>


        </mat-card>


        <ng-template mat-tab-label>
            <mat-icon class=" mr-16">format_list_numbered</mat-icon>
            Elecciones
        </ng-template>
        <mat-card>
            <mat-card-header class="grey-100">
                <div fxLayout="row"
                     fxLayoutAlign="start center"
                >
                    Lista de elecciones
                </div>
            </mat-card-header>
            <mat-card-content>
                <button
                        (click)="openPopup({},true)"
                        class=" green-A700 "
                        type="button"
                        mat-raised-button
                        style="color: white"
                >

                    <mat-icon>note_add</mat-icon>
                    Nuevo

                </button>

                <ngx-datatable
                        class="material"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="'auto'"
                        [limit]="10"
                        [scrollbarH]="true"
                        [rows]="elecciones"
                >


                    <ngx-datatable-column name="Nombre Elección" width="300" >
                        <ng-template ngx-datatable-cell-template let-row="row">
                            {{ row.nombreEleccion }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Tipo Elección" width="150">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            {{ row.nombreTipoEleccion }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Estado" width="150">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <mat-chip mat-sm-chip [color]="'primary'"
                                      [selected]="row.badge">{{row.estado == "ACTIVO" ? 'ACTIVO' : 'INACTIVO'}}</mat-chip>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Acciones" width="200">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <button [disabled]="row.estado !=='ACTIVO'" mat-icon-button mat-sm-button color="primary"
                                    class="mr-1"
                                    (click)="openPopup(row,false)"
                            >
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button [disabled]="row.estado !=='ACTIVO'" mat-icon-button mat-sm-button color="warn"
                                    class="mr-1"
                                    (click)="deleteItem(row)"
                            >
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button [disabled]="row.estado !=='ACTIVO'" mat-icon-button mat-sm-button color="primary"
                                    class="mr-1"
                                    (click)="verEscanios(row)" matTooltip="Escaños">
                                <mat-icon>groups</mat-icon>
                            </button>
                            <button *ngIf="row.estado ==='INACTIVO'" mat-icon-button mat-sm-button color="primary"
                                    (click)="reactivar(row)" matTooltip="Reactivar">
                                <mat-icon>done</mat-icon>
                            </button>

                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>


            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab  [disabled]="!eleccionSeleccionada" >
        <ng-template mat-tab-label>
            <mat-icon class=" mr-16">groups</mat-icon>
            Escaños
        </ng-template>

        <mat-card>
            <mat-card-header class="grey-100">
                <div fxLayout="row"
                     fxLayoutAlign="start center"
                >
                    Lista de escaños
                </div>
            </mat-card-header>
            <mat-card-content>
                <button
                        *ngIf="eleccionSeleccionada?.nombreTipoEleccion !== stringPluripersonal"
                        (click)="openPopupEscanios({},true)"
                        class="green-A700 "
                        type="button"
                        mat-raised-button
                        style="color: white"
                >

                    <mat-icon>note_add</mat-icon>
                    Nuevo Escaño

                </button>
                <ngx-datatable
                        class="material"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="'auto'"
                        [limit]="10"
                        [rows]="lsEscanios"
                        [scrollbarH]="true"
                >

                    <ngx-datatable-column name="Nombre Escaño" width="300" >
                        <ng-template ngx-datatable-cell-template let-row="row" >
                            {{ row.nombreEscanio }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Eleccion" >
                        <ng-template ngx-datatable-cell-template let-row="row">
                            {{ row.nombreEleccion }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Estado" width="100"  >
                        <ng-template ngx-datatable-cell-template let-row="row" >
                            <mat-chip mat-sm-chip [color]="'primary'"
                                      [selected]="row.estado=='ACTIVO'">{{row.estado == "ACTIVO" ? 'ACTIVO' : 'INACTIVO'}}</mat-chip>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column *ngIf="eleccionSeleccionada?.nombreTipoEleccion !== stringPluripersonal"
                                          name="Acciones" width="200"  >
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <button [disabled]="row.estado !=='ACTIVO'" mat-icon-button mat-sm-button color="primary"
                                    class="mr-1" (click)="openPopupEscanios(row,false)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button [disabled]="row.estado !=='ACTIVO'" mat-icon-button mat-sm-button color="warn"
                                    (click)="deleteItemEscanio(row)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button *ngIf="row.estado ==='INACTIVO'" mat-icon-button mat-sm-button color="primary"
                                    (click)="reactivarEscanio(row)" matTooltip="Reactivar">
                                <mat-icon>done</mat-icon>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </mat-card-content>
        </mat-card>

    </mat-tab>

</mat-tab-group>

